[2016-11-18 11:05] welcoMattic opened #1 "Make gitmoji-cli usable offline."
It will be useful to make it works offline, as I work often in no-wifi train, I want to be able to commit without internet connection required.

[2016-11-18 11:09] carloscuesta commented on #1
Yep @welcoMattic the request would be in a cache! don't worry for that 😜

[2016-11-18 11:13] carloscuesta commented on #1
I'll keep this open as a "card" for that feature

[2016-11-18 11:15] welcoMattic commented on #1
Ok 😉

[2016-11-18 14:50] welcoMattic opened #3 "Precise the aim of gitmoji-cli"
IMHO gitmoji-cli got for aim to make gitmojis data available for programatic purpose (like a git hook).

In this case, the option `--init` is not a the right place, I think it should be in gitmoji-commit-hook.

What do you think @carloscuesta?

[2016-11-18 18:36] carloscuesta commented on #3
By default If you run `gitmoji` it will run the questions and auto create the commit with the options.

- Selected gitmoji.
- Reference #
- Signed commit
- Commit title.
- Commit message.

The option `--init` it's for automatically creating the git hook template that you need to create manually when using a git hook. This option enables you to commit with `git commit` without using the `gitmoji` c

[2016-11-18 21:03] welcoMattic commented on #3
Oh alright, you want further than me and my gitmoji-commit-hook package ^^' I'll keep mine because I like KISS principle, but you did really good job! 👍

[2016-11-18 21:03] #3 closed

[2016-11-18 21:17] carloscuesta commented on #3
Yes of course you can keep yours no problem 😄 it's always great to have different approaches. Thanks for your time @welcoMattic

[2016-11-19 01:06] carloscuesta opened #4 "Add tests."
Using [mocha](https://mochajs.org) create a test file that imports the `GitmojiClient` class and tests the methods.

- [x] Create `test.js`
- [x] Add tests and use cases.
- [ ] search()
- [x] version()
- [x] init()
- [x] commit()
- [ ] list()
- [x] Create a npm script to run the tests.

[2016-11-19 09:22] carloscuesta opened #5 "Images"
<img width="860" alt="search" src="https://cloud.githubusercontent.com/assets/7629661/20454469/1815550e-ae42-11e6-8c23-33ab7a3e48a3.png">

<img width="860" alt="list" src="https://cloud.githubusercontent.com/assets/7629661/20454472/1c351e6c-ae42-11e6-8f3c-da73429d8eff.png">

[2016-11-19 09:22] #5 closed

[2016-11-20 20:11] carloscuesta opened #6 "Add init method"
Add init method to the Gitmoji class that creates a prepare-commit-msg file inside of `.git/hooks/`.

[2016-11-23 09:26] dotterian opened #8 "git-hook doesn't work as expected"
When i use gitmoji as git-hook it draws first prompt for emoji and then process ends and default git commit procedure starts (text editor opens asking me to enter my commit message, which is blank, or in case if i specify -m "Commit message" it just commits).

![2016-11-23 12-25-53](https://cloud.githubusercontent.com/assets/6250486/20556419/05f50926-b178-11e6-978a-f0072198f534.png)

[2016-11-23 09:32] carloscuesta commented on #8
I'm still figuring out how to make the hook work, gitmoji -c works fine

[2016-11-23 10:04] dotterian commented on #8
Maybe you should take a look at [gitmoji-commit-hook](https://github.com/welcoMattic/gitmoji-commit-hook) repo in which @welcoMattic already made similar thing?

[2016-11-23 10:29] carloscuesta commented on #8
Yes, the base concept of the hook it's from there but the same implementation won't work

[2016-11-23 10:30] #6 closed

[2016-11-23 11:36] rmngrc opened #9 "Unable to create `index.lock`: File exists."
Hi Carlos,

First of all thanks for such an amazing piece of cake. I'd be great if I could get this to work but unfortunately I am always getting this error:

![screen shot 2016-11-23 at 12 34 32](https://cloud.githubusercontent.com/assets/1866422/20560372/4b2523fe-b179-11e6-8aff-42f51bb2dee9.png)

I've tried also with `sudo gitmoji -c` but doesn't work either. Any clue of what could be going on h

[2016-11-23 11:51] carloscuesta commented on #9
That's a little bit weird @rmngrc 🤔

Even the file does not exists did you tried to `rm -f .git/index.lock` and then run `gitmoji -c`

[2016-11-23 12:03] rmngrc commented on #9
Of course, I did multiple times. I even killed all processes which were using git with no luck :(

[2016-11-23 16:16] thinklife opened #10 "/.git/index.lock: File exists"
? Choose a gitmoji: 🎨  - Improving structure / format of the code.
? Enter the commit title: add article
? Enter the commit message:
? Issue / PR reference #:
? Signed commit: Yes
ERROR: fatal: Unable to create  'xxxxxx/.git/index.lock': File exists.

Another git process seems to be running in this repository, e.g.
an editor opened by 'git commit'. Please make sure all processes
are terminated the

[2016-11-23 16:17] carloscuesta commented on #10
Same as #9

[2016-11-23 16:18] #10 closed

[2016-11-23 16:18] carloscuesta commented on #9
Did you used the init option? To create the commti hook @rmngrc

[2016-11-23 16:21] carloscuesta commented on #10
What OS are you using @thinklife ?

[2016-11-23 16:24] rmngrc commented on #9
Yes, I did @carloscuesta. I started fresh again so you could see it :)

![screen shot 2016-11-23 at 17 23 19](https://cloud.githubusercontent.com/assets/1866422/20569788/98f43cd2-b1a1-11e6-832a-4514ce311618.png)

[2016-11-23 16:24] thinklife commented on #10
macOs version: 10.12.1

[2016-11-23 16:26] thinklife commented on #10
@carloscuesta
macOs version: 10.12.1
iTerm2 + oh my zsh

[2016-11-23 16:35] rmngrc commented on #9
I also realised there is a permission issue when creating the hook:

![screen shot 2016-11-23 at 17 29 05](https://cloud.githubusercontent.com/assets/1866422/20570244/2b015eb0-b1a3-11e6-91d4-5e562a0c65a2.png)

But doing `chmod 755 ./.git/hooks/prepare-commit-msg` didn't fix the issue.

[2016-11-23 16:36] carloscuesta commented on #9
Delete the prepare-commit-msg, `gitmoji -c` should be used alone without the -init option.

[2016-11-23 16:38] rmngrc commented on #9
Still there... This is so confusing. Anyway, thanks for taking your time to help!!

[2016-11-23 16:51] carloscuesta commented on #9
Will try to reproduce this in my local machine.

In the meantime, could you try to clone https://github.com/carloscuesta/gitmoji-cli/tree/test-commit-option branch and tho a npm i && npm link and try if gitmoji -c works?

Thanks!

[2016-11-23 19:47] rmngrc commented on #9
Trying your suggestion works. It might be then something related to the repository I work on... will try to have a deep look and figure out what is going on. Maybe some funny permissions within `.git`?

Will keep you posted. Thanks a lot for your quick responses and help!

[2016-11-23 20:10] carloscuesta commented on #9
No problem!

What solution worked for you? Deleting the prepare-commit-msg file, or the provided one at the branch?

I do not belive it's a permissions issue, as I said gitmoji -c works without the hook file

Thanks to you too for the feedback! 😊

[2016-11-23 21:37] carloscuesta commented on #8
Hey @dotterian!

I've just fixed this now the commit hook works as expected!

<img width="690" alt="screen shot 2016-11-23 at 22 36 43" src="https://cloud.githubusercontent.com/assets/7629661/20579514/56e4b5e8-b1cd-11e6-9a0a-a258efd44f2b.png">

[2016-11-23 21:37] #8 closed

[2016-11-23 22:20] rmngrc commented on #9
Its funny indeed. It works only in new repos but not on the existing ones I have already.

[2016-11-23 23:51] lludol opened #11 "Questions and features/bugs"
Hello,

Thank you for gitmoji, it's fun and usefull to have an emoji norm to commit message!

1) Default behaviour
[code]

Nothing happens when we run the cli without parameter.
I read your code and it's because you run a command only if you have a parameter.

I think it's better to run ```gitmoji -c``` by default.

2) Git add

[code]

Can you check if we added some files before running gitmoji ?

[2016-11-24 07:24] carloscuesta commented on #11
Thanks for filling an issue:

1. Yes I know nothing happens when you run gitmoji, I considered adding -c as a default option and this will be done, it's better to have a default command than nothing.

2. Good point, at first instance I thought that git will do this and print an error, will take a look at that. By default the -c option adds the files before commiting.

3. Never heard of commitizen

[2016-11-24 08:48] carloscuesta commented on #11
:memo: [Contributing docs added](https://github.com/carloscuesta/gitmoji-cli/tree/master/.github)

[2016-11-24 08:54] carloscuesta opened #13 "Add --version option"
Add a --version / -v option that outputs the pkg.version to the console.

[2016-11-24 08:56] carloscuesta opened #14 "Consider using unicode instead of :emoji:"
**Consider using unicode instead of :emoji:**

[Referring to that issue](https://github.com/carloscuesta/gitmoji/issues/60)

Changes that needs to be made to use unicode instead of :emoji:

[code]

[2016-11-24 11:17] #13 closed

[2016-11-26 12:39] #4 closed

[2016-11-26 12:40] carloscuesta opened #18 "Create a commitizen version for gitmoji"

[2016-11-26 12:40] #11 closed

[2016-11-26 12:40] #9 closed

[2016-11-28 20:41] thibmaek commented on #18
I might try to get this one PR'd tomorrow if I find the time ;)

[2016-11-28 20:45] thibmaek opened #19 "Commiting takes insanely long"
Hello @carloscuesta!

Issue: Since updating to 1.2.1 committing with the hook takes insanely long. After 3 minutes or so I quit the command with `Ctrl + c` and as you can see on the screenshot below, commit seems to have gone trough but produces an error about locking HEAD. I do have other git hooks configured (pre-commit and pre-push) but using gitmoji <=1.2.x worked just fine. Omitting the `--no

[2016-11-28 21:33] carloscuesta commented on #19
Having the same problem too via hook option also when using 1.2.0 that's weird 🤔

[2016-11-28 22:32] carloscuesta commented on #19
Apparently found the issue [at this commit](https://github.com/carloscuesta/gitmoji-cli/commit/8b97e4b10a6eed287521a389e801a226e41f9efb).

[2016-11-28 23:09] #19 closed

[2016-11-30 19:15] #1 closed

[2016-12-07 18:34] hipstersmoothie opened #22 "CLI hangs until ctrl+c"
Hello @carloscuesta!

Issue:
When i rund `gitmoji -c` i can go though the prompts until the end, but once i am down it hangs until ctrl+c. It then finishes up the commit. I would expect it to commit without a need for a ctrl+c.

**OS**:
**gitmoji-cli -v**: 1.3.0
**Node version**: 7.0.0 and 7.2.1

[2016-12-07 21:01] carloscuesta commented on #22
Is it working for me, what OS are you using? Did you used the --init option before --commit?

[2016-12-07 21:10] hipstersmoothie commented on #22
That was definitely the issue! Might wanna put that in the readme somewhere. 👍

[2016-12-07 21:10] #22 closed

[2016-12-07 21:26] carloscuesta commented on #22
It's "kind of" explained that you have two options for using the commit option, via hook or gitmoji-cli 🤔

[2016-12-30 14:16] Mte90 opened #24 "Disable signing"
I don't want to sign all my commit but everytime i have to remember that I have to put the n for that value
, it's possible to configure what question ask?
Also by commandline will be not very bad

[2016-12-31 09:02] carloscuesta commented on #24
Hey @Mte90 thanks for submitting an issue,

The easiest way I see is to add a flag to avoid the Signed commit question, but this is the same as answering "No" at the prompting section.

Probably implementing something like [Yeoman remembering user preferences](http://yeoman.io/authoring/user-interactions.html) for the signed commit will be good.

The other way I see is just to create like a .gitmo

[2016-12-31 12:09] Mte90 commented on #24
I think something like that `gitmoji -prompt=title,pr` in that way the field enable are the commit tile and the pr/issue field.
And for remember i will do an aliai in my .bashrc

[2017-01-09 18:23] #24 closed

[2017-02-02 12:51] posva commented on #14
For those wanting to apply the local change, the file that needs to be modified is `src/gitmoji.js`

[2017-02-02 23:05] posva commented on #14
Hey, what about having this option and maybe more in the future in some config (I'd rather add it to the packaged) using something like [cosmiconfig](https://github.com/davidtheclark/cosmiconfig)
Other possible options is omitting questions like the sign commit question

[2017-02-04 11:09] carloscuesta commented on #14
Will take a look at cosmiconfig @posva 👍

[2017-02-05 06:02] sgnl opened #28 "Consider a feature to opt out of `git add .`"
Hello @carloscuesta!

https://github.com/carloscuesta/gitmoji-cli/blob/master/src/gitmoji.js#L99

I'm loving this tool though one thing is really bothering me, it's the fact that when I want to commit gitmoji does a `git add .` and for me I would like to have the option to opt out of this feature either by passing a flag perhaps?

**OS**: OSX 10.11.6
**gitmoji-cli -v**: 1.3.1
**Node version**: `6.

[2017-02-05 11:59] carloscuesta commented on #28
Hey @sgnl

This is a thing I've been considering and I'm thinking to implement a way for configuring the gitmoji-cli, for the things that are done "under the hood" like the `git add .` or the use of unicode instead of the `:emoji` format #14.

Probably, something like `gitmoji --config` that promps and save your preferences into a `.config` file inside of the `~.gitmoji/` directory that now is bei

[2017-02-06 02:41] sgnl commented on #28
Oh nice, yeah the config would be a nicer implementation. Thanks for your time

[2017-02-14 21:18] wextia opened #30 "Consider adding a search functionality when commiting using gitmoji -c"
Hello @carloscuesta!

I find that it would be very convenient to add a emoji search functionality when commiting changes using `gitmoji -c`.

I am referring to this screen:

![](http://oi68.tinypic.com/122gtur.jpg)

It would be very cool if you could start typing an emoji or the description of one and `gitmoji` automatically started filtering them.

[2017-02-14 21:28] wextia commented on #28
That is bothering me too!

Note that you can create a commit hook with `gitmoji -i` and then execute

`git add path/to/your/file/`

`git commit`

And then you'll be prompted with the `gitmoji` commit screen, but only the files you've added will be commited. I'm aware it is not what you're suggesting, but it's how i do it currently.

[2017-02-14 21:53] carloscuesta commented on #30
Hey @wextia

Currently there's a search functionality with the search option[`gitmoji -s `](https://github.com/carloscuesta/gitmoji-cli#search).

Thanks for the suggestion, but I'm not planning to do this at the moment 😄

[2017-02-14 21:53] #30 closed

[2017-02-14 21:56] carloscuesta commented on #28
In the meantime, could work as a workaround @wextia.

[2017-02-14 22:09] wextia commented on #30
Thanks for the reply, @carloscuesta ! Love the tool, btw :smile: .

[2017-02-26 15:06] vshy108 commented on #9
i solved the problem by create and remove the file
`touch .git/index.lock && rm .git/index.lock`

[2017-03-04 09:46] #28 closed

[2017-03-04 09:46] #14 closed

[2017-03-04 09:47] carloscuesta commented on #28
Done @sgnl @wextia

[2017-03-04 09:55] posva opened #31 "Git commits should include an empty line between title and description"
Hello @carloscuesta!

Git commits should have an empty line between the title and the description but currently, there's none:

[code]

should look like

[code]

[2017-03-04 10:09] carloscuesta commented on #31
What's the point about having an empty line between the commit title and the description? @posva

I'm not sure but, I think that we don't need a break line. With two or more `-m` option lines are concatenated as separate paragraphs.

[code]

[2017-03-04 10:20] posva commented on #31
That blank line allows to clearly separate the title of the commit from the
summary. I couldn't find an official reference for this but it's a some
kind of standard. For instance when writing the commit with vim, it'll
automatically break every 80 characters and highlight the background in red
the second line to tell you you shouldn't write anything there. A project
using this is the erlang repo.

[2017-03-04 11:02] carloscuesta commented on #31
@posva If I open my last commit with nano, the blank line appears. Probably https://github.com/carloscuesta/gitmoji-cli/issues/31#issuecomment-284141790 just adds it.

<img width="685" alt="screen shot 2017-03-04 at 11 58 04" src="https://cloud.githubusercontent.com/assets/7629661/23578226/3d456c64-00d2-11e7-807d-a0fcca618971.png">

[2017-03-04 13:28] posva commented on #31
Then it may be worth adding it when using as a hook or as an answer. That way, it'll be consistent with the `-m` behaviour

[2017-03-04 14:12] carloscuesta commented on #31
It's already when using as a hook

https://github.com/carloscuesta/gitmoji-cli/blob/master/src/gitmoji.js#L110

[2017-03-04 16:42] posva commented on #31
You're still missing a `\n` 😛 (for the blank line)

[2017-03-04 17:00] carloscuesta commented on #31
Same as before, it's not needed to split the commit title and message works with only one of them 🤔

[2017-03-04 18:01] posva commented on #31
It's not needed, but it's a standard that improves readability. That's why I'm asking for it 🙂

[2017-03-04 19:33] #31 closed

[2017-03-04 19:33] posva commented on #31
Thanks @carloscuesta !

[2017-03-23 11:28] geniusgordon commented on #30
@carloscuesta maybe you can try this package!
https://github.com/mokkabonna/inquirer-autocomplete-prompt

[2017-03-23 17:55] carloscuesta commented on #30
I know that package @geniusgordon, feel free to send a PR

[2017-04-06 07:36] motss opened #37 "Error occurred unexpectedly when committing with bookmark emoji"
_Moved from [gitmoji#114](https://github.com/carloscuesta/gitmoji/issues/114)_

Hello @carloscuesta!

Issue:

Unable to commit successfully with :bookmark:.

**OS**: macOS Sierra 10.12.4
**gitmoji-cli -v**: 1.5.0
**Node version**: 7.8.0

**Error Message**:

`ERROR:`

<img width="361" alt="screen shot 2017-04-06 at 2 21 48 pm" src="https://cloud.githubusercontent.com/assets/10607759/24740582/73b835

[2017-04-08 21:18] carloscuesta commented on #37
I have no problems commiting withs this, you have your changes staged? @motss

![screen shot 2017-04-08 at 23 17 23](https://cloud.githubusercontent.com/assets/7629661/24832475/a1c79d74-1cb1-11e7-9cac-aa8409b1e1f5.png)

[2017-04-09 03:21] motss commented on #37
@carloscuesta The **ONLY** change in my commit that produces this error:

[code]

[2017-04-09 07:06] carloscuesta commented on #37
@motss I'm not having problems, please check out that you're changes are staged if you don't have the auto add enabled. I think this issue it's not related with the cli.

![screen shot 2017-04-09 at 09 05 02](https://cloud.githubusercontent.com/assets/7629661/24835474/aa5b8e76-1d03-11e7-87ec-6138694ec615.png)

[2017-04-09 07:49] #37 closed

[2017-04-13 09:00] wayneashleyberry opened #39 "ERROR:"
Hello @carloscuesta!

Trying to use the gitmoji cli for the first time and it's not really working :/

**OS**: macOS 10.12.4
**gitmoji-cli -v**: 1.5.0
**Node version**: v7.9.0

**Error Message**:

[code]

[2017-04-13 12:25] carloscuesta commented on #39
🤔 Can you try to install the 1.4.0 version to see if you've got the same issue?

[2017-04-13 12:31] wayneashleyberry commented on #39
Same problem with 1.4.0 @carloscuesta :(

Is there perhaps a verbose flag or debug environment variable I could set?

[code]

[2017-04-13 13:08] carloscuesta commented on #39
There's no debug flag but I'm taking a look into it to fix this issue @wayneashleyberry

Before using `gitmoji -c` did you run `gitmoji -i` ?

[2017-04-13 13:11] wayneashleyberry commented on #39
Nope, I haven't run `gitmoji -i` at all.

[2017-04-13 13:14] carloscuesta commented on #39
Another thing I have in mind, try to run `gitmoji -g` and answer y to the autoadd question, maybe by default it's set to false. 🤔 @wayneashleyberry

[2017-04-13 13:19] wayneashleyberry commented on #39
My changes weren't staged - so there was nothing to commit 🤦‍♂️

I feel like gitmoji should pick that up first maybe? Or maybe a better error message would help.

Git complains about this, and I feel gitmoji should have the same behaviour as it's almost a replacement for `git commit`

[code]

[code]

[2017-04-13 13:20] carloscuesta commented on #39
Yes totally! In fact this issue comes from https://github.com/carloscuesta/gitmoji-cli/commit/ebce5ff0efb7f60febf8858f3df8b2af8920000e implementing this feature. We have to set a default value for that that will be `true` to make the autoadd.

[2017-04-13 14:00] #39 closed

[2017-04-13 14:05] carloscuesta commented on #39
Released :tada: @ npm v1.5.1 @wayneashleyberry

[2017-04-13 15:04] arnauldvm opened #40 "ERROR: Network connection not found - ECONNABORTED (proxy issue?)"
Hello @carloscuesta!

Can't get gitmoji to work (at all) in our infrastructure.

I suspect an issue with my proxy (I'm using CNTLM running on localhost:8080, see below).
As far as i could see, the requests from gitmoji-cli do not hit my proxy.
(But I don't see what could be wrong with my config.)

Issue:
[code]
then I have to hit `Ctrl+C`, and:
[code]

**OS**: Windows 7 Enterprise SP1
**gitmoji-cl

[2017-04-13 17:37] carloscuesta commented on #40
Hey @arnauldvm

What's failing is Axios making the request to get the emojis.json from the main repository. The error shown `ERROR: Network connection not found - ECONNABORTED` is thrown directly from Axios. Closing this issue since it's not a bug from the client.

[2017-04-13 17:37] #40 closed

[2017-04-15 10:57] wayneashleyberry commented on #39
Thanks for that @carloscuesta :)

[2017-04-20 19:53] tay1orjones opened #43 "Git Hook Opening COMMIT_EDITMSG File"
Hello @carloscuesta!

Great work on this - such a great addition to my workflow. I'm running into an issue with using the git hook.

Issue:

 I've already set up the git hook per the documentation. When I `git commit`, the CLI prompts me as intended and works great. I finalize my message, hit enter, and the commit is committed.

Next is the issue - at the same time when I hit enter to submit, the

[2017-05-02 12:02] randompixel opened #44 "Add support for JIRA references"
Hello @carloscuesta!

When using gitmoji-cli, I would like to be able to use JIRA references rather than implicitly using github.com ones. This should be a configurable option with the default behaviour being github.com.

You can use JIRA with github repositories. Also Bitbucket cloud and server (from v5) both have emoji support.

I have a pull request ready to go, but please go easy on me - it's

[2017-05-02 17:26] carloscuesta commented on #44
Sure!

Feel free to open the pull request 👍

[2017-05-03 07:17] motss opened #45 "Missing emoji like :lightbulb:"
Hello @carloscuesta!

Noticed some missing emoji using the `gitmoji-cli` on macOS vs the `gitmoji-cli` on Windows 10.

Issue:

Missing emoji includes 💡 , 🍻 , and many more.

**OS**:
**gitmoji-cli -v**: 1.5.2
**Node version**: 6.10.2
**OS**: macOS Sierra 10.12.4

**Error Message**:

[2017-05-03 08:09] carloscuesta commented on #45
Because the gitmoji-cli creates a cache to work offline, see [gitmoji-cli update](https://github.com/carloscuesta/gitmoji-cli#update).

`gitmoji -u`

[2017-05-03 08:09] #45 closed

[2017-05-03 08:45] motss commented on #45
👍

[2017-05-05 15:31] gluons opened #47 "[Feature Request] GPG Sign support"
Hello @carloscuesta!

I see the feature to [sign commit](https://github.com/carloscuesta/gitmoji-cli/blob/82f46b279586300d9929ab159ee13adeb07c178f/src/gitmoji.js#L205). But it is signoff commit ([`-s`](https://git-scm.com/docs/git-commit#git-commit--s)).

It should be great if I can GPG-sign commit ([`-S`](https://git-scm.com/docs/git-commit#git-commit--Sltkeyidgt)). 🙂

[2017-05-05 18:14] carloscuesta commented on #47
@gluons In fact it should be using `-S` so i'm setting it as a default 👍

[2017-05-05 18:15] #47 closed

[2017-05-05 18:42] carloscuesta commented on #43
🤔

[2017-05-06 07:22] gluons commented on #47
Thank you very much. 🙇

[2017-05-07 12:26] motss opened #48 "Signing a commit show error"
Hello @carloscuesta!

Unable to sign a commit in the latest upgrade like the previous version when the option of `signing a commit` has a default of `Y`.
The error will not show when not signing one.
If that's the case, the option of `signing a commit` should be default to `n`.

[code]

Issue:

**OS**:
**gitmoji-cli -v**: 1.5.3
**Node version**: 7.10.0

**Error Message**:

[code]

[2017-05-07 13:52] carloscuesta commented on #48
Hey @motss this is not an error related with the CLI you should setup a GPG Key to sign your commits [Signing commits with GPG](https://help.github.com/articles/signing-commits-using-gpg/)

[2017-05-07 13:52] #48 closed

[2017-05-15 18:24] #44 closed

[2017-05-15 18:24] #43 closed

[2017-06-02 03:57] mydaoyuan opened #49 "ERROR: Network connection not found"
Hello @carloscuesta!

Issue:
not work , print network connection not found, but my network is work.

**OS**: 0.12.3
**gitmoji-cli -v**:1.5.4
**Node version**:v7.7.2

➜  mytest git:(master) ✗ gitmoji bug -s
ERROR: Network connection not found - ECONNABORTED
ERROR: undefined
➜  mytest git:(master) ✗ gitmoji -u
ERROR: Network connection not found - ECONNABORTED
➜  mytest git:(master) ✗ gitmoji -v
1.5

[2017-06-07 13:59] nico29 opened #51 "Gitmoji stages all files during commit phase"
Hello @carloscuesta!

Issue:

I dunno if this is just me doing this, but sometimes I modify several files but wanna commit them appart. So I stage some of them and then I run `gitmoji -c`. However, during its commit stage, the cli runs `git add .` and as a consequence all my modified files end up in the current commit.

Not a big deal though 😺

**OS**: Windows 10
**gitmoji-cli -v**: 1.5.4
**Node v

[2017-06-07 14:25] carloscuesta commented on #51
Hey @nico29

By default the client adds all the files, you can disable this feature using the config option :+1:

See [https://github.com/carloscuesta/gitmoji-cli#config](gitmoji config)

[2017-06-07 14:25] #51 closed

[2017-06-07 14:53] nico29 commented on #51
Missed that ! Sorry !

[2017-06-14 15:36] KevinHivert opened #52 "commit message code injection"
Hello @carloscuesta :sunglasses:!

# Issue:

__Step to reproduce__

[code]

Or whatever bash command line you insert between \`. Other example :

[code]

__What is expected__

A commit message with the selected emoji and text above

__Actual Behavior__

The \` are removed from the commit message and the command is executed with the output printed inside the commit message.

**OS**: Archlinux
**git

[2017-06-15 17:40] carloscuesta commented on #52
Thanks for reporting the issue I'm working on a fix @KevinHivert

[2017-06-15 18:18] #52 closed

[2017-06-15 18:20] carloscuesta commented on #49
Hey @mydaoyuan that's really strange are still having this issue?

Could you `ping raw.githubusercontent.com`

[2017-06-16 01:45] mydaoyuan commented on #49
[code]

 always network error :sob:

[2017-06-16 06:41] carloscuesta commented on #49
For some reason the fetch is failing, you can download the `gitmojis` manually just run:

‘‘‘
nano ~/.gitmoji/gitmojis.json
‘‘‘

Then copy this contents https://github.com/carloscuesta/gitmoji/blob/master/src/data/gitmojis.json inside of that file @mydaoyuan

[2017-06-18 15:15] #49 closed

[2017-06-20 11:32] chrisj-skinner opened #55 "$ gitmoji -c ERROR: This directory is not a git repository."
Hello @carloscuesta!

Issue:
$ gitmoji -c

**OS**: windows 10 VSC
**gitmoji-cli -v**:  1.5.6
**Node version**: v6.9.2

**Error Message**: ERROR: This directory is not a git repository.

![imo](https://user-images.githubusercontent.com/5794048/27331206-6b34f522-55b4-11e7-97bc-99e02dc31723.PNG)

[2017-06-25 09:05] carloscuesta commented on #55
Hey @chrisj-skinner I'm not having problems on a Mac OS X, do you have a `.git` folder inside your directory? Could you try creating another repo and see if the problem persists?

[2017-07-03 06:11] nico29 commented on #55
Hello. I Have the same issue, this happen when I try to commit inside a subfolder of a git repo.

[code]

I'm running `gitmoji-cli` v 1.5.7

[2017-07-03 06:37] carloscuesta commented on #55
Hey @nico29 that makes sense! Because the .git folder is being searched on the current directory

[2017-07-03 07:35] nico29 commented on #55
Yep sure, but I think @chrisj-skinner is trying to do the same 😸

[2017-07-03 09:52] carloscuesta commented on #55
Yep! I will take a look :+1:

[2017-07-03 10:17] sivakumar-kailasam opened #56 "Remember signed commits option globally"
Hello @carloscuesta!

Signing commits is not a widespread practice yet, so it would help to remember it as a global config. If its set, use that option instead of prompting on each run.

[2017-07-03 19:49] chrisj-skinner commented on #55
Yes, `src/app` is a sub dir of `olr-app` and I'm trying to commit to the sub dir

[2017-07-04 18:30] #55 closed

[2017-07-04 18:42] carloscuesta commented on #56
Hey @sivakumar-kailasam 😎

I think it's a good idea, will take a look!

[2017-07-18 03:04] JulioC opened #58 "Can't install hooks on windows"
Hello @carloscuesta!

When trying to run `gitmoji -i` on Windows I get the error and the hook don't get installed.

**OS**: Windows 10
**gitmoji-cli -v**: 1.5.8
**Node version**: v7.7.4

**Error Message**:

[code]

**Extra Info**:

I noticed the path is defined using process.env.PWD, so when I tried getting the value for that:

[code]

[2017-07-18 03:18] JulioC opened #59 "Local config"
Hello @carloscuesta!

Currently I couldn't find a way to set the config specific for a project or based on command line flags.

It would be useful to have that so one could create standard settings for a given project, across all users.

[2017-07-26 19:55] Landish commented on #18
Would about this https://github.com/Landish/cz-gitmoji ? Would you mind?

[2017-08-04 18:12] carloscuesta commented on #18
Cool! @Landish I'm goint to add as a reference on the docs 🎉

[2017-08-04 18:12] #18 closed

[2017-08-06 21:26] carloscuesta commented on #58
Hey @JulioC as you can see the `process.env.PWD` is `undefined` that's why it's not creating the hook succesfully, I think that's a common bug on Windows, let me take a look 👀

[2017-08-06 21:40] #58 closed

[2017-08-09 17:27] t-p-l-k opened #62 "Error during commit."
Hello @carloscuesta!
Thanks in advance.

I'm constantly getting an error when trying to commit changes. Also when I use `git add --patch` all files are getting staged automatically after failing to commit.

Issue started appering after I updated to 1.6.0. there's no `.git/index.lock` file (it's stated in error message to delete it manually). Rebooting, reinstalling `gitmoji-cli` or trying to perfo

[2017-08-09 17:42] t-p-l-k commented on #62
I'll investigate whether it's a local issue affecting only me and close the issue if it is. Feels like it is, had some issues with npm config a few days ago.

But I thought that it'd be good to know if someone's experiencing the same problem.

[2017-08-09 22:35] carloscuesta commented on #62
Hello @t-p-l-k

As you say this is probably a local issue but sometimes appears as seen on https://github.com/carloscuesta/gitmoji-cli/issues/9#issuecomment-282562142

[2017-08-10 13:43] t-p-l-k commented on #62
@carloscuesta Okay, thanks, I'll try to use fix https://github.com/carloscuesta/gitmoji-cli/issues/9#issuecomment-282562142.

[2017-08-10 13:43] #62 closed

[2017-08-21 04:35] khaosdoctor opened #63 "Git add all, disable option"
Hello @carloscuesta!

Something is been going on with my version. Even when I disable automatic `git add .` this setting seem not to persist. My idea is to transform it into an option `-a`, if set then it'd add everything, otherwise it'd just commit.

Issue:
Even when I disable automatic `git add .` this setting seem not to persist

**OS**: MacOS Sierra
**gitmoji-cli -v**: 1.6.0
**Node version**:

[2017-08-21 18:27] carloscuesta commented on #63
Hey @khaosdoctor

Seems like there's a bug let me take a closer look

[2017-08-21 18:45] #63 closed

[2017-08-21 20:55] khaosdoctor commented on #63
Yeah! Ok then! I will download it and test it out here ;)

[2017-08-23 14:47] svenlombaert opened #64 "Unable to create .git/index.lock"
Hello @carloscuesta 😎!

Since a while now, every time I commit (I have the pre-commit hook installed), after it, I get this message:

[code]
I've tried removing and installing the pre-commit hook, removed gitmoji-cli completely and updated to the most recent version - nothing helps. I encounter the same problem without pre-commit hook and just using the gitmojicommand. When I just commit normally

[2017-08-27 06:53] Seaony commented on #64
I also met the same problem, did you find the solution?

[2017-08-27 08:00] carloscuesta commented on #64
Related with #9 #10 #62

[2017-08-28 09:05] svenlombaert commented on #64
MacOS Sierra, Version 10.12.6 (16G29)

Thanks!

[2017-08-30 07:13] samirdhebar commented on #64
I also am having the same issue on Linux regarding this commit issue. I reviewed the earlier fix but sadly to no avail :cry:

[2017-09-01 07:50] LBreda commented on #64
Same here, on Linux. The lockfile doesn't actually exist.

[2017-09-10 15:38] gluons commented on #64
Me too. On Kubuntu 17.04. It happened sometime.

![_002](https://user-images.githubusercontent.com/4688092/30250443-9556e28e-9678-11e7-96aa-0ff90301f577.png)

[2017-09-19 14:01] toby3d opened #65 "SyntaxError"
Hello @carloscuesta!

**Issue:** After change default NPM directory (for using installs/tools without `sudo`) I always get same error on any action via `gitmoji`.
**OS**: Linux Mint Mate 18.2 (x64_86)
**gitmoji-cli -v**: ???
**Node version**: v4.2.6
**Error Message**:
[code]

[2017-09-19 14:17] carloscuesta commented on #65
Hey @toby3d this is due to your `NODE_VERSION` **v4.2.6** does not support the class keyword

[2017-09-20 08:01] toby3d commented on #65
@carloscuesta Oops, you're right. :no_mouth:

[2017-09-20 08:01] #65 closed

[2017-09-20 10:02] carloscuesta commented on #65
No problem! Maybe we should add this to the docs 😄

[2017-09-24 14:44] carloscuesta opened #67 "Fix cli flags"
Currently, the `cli` command such as `--command` are not working.

:bug: @ https://github.com/carloscuesta/gitmoji-cli/blob/master/cli.js#L66

[2017-09-24 15:09] #67 closed

[2017-09-24 16:41] gluons commented on #64
Did anyone found the cause of this problem?
I frequently face this problem but I can't find why it happened. 🤔
Try to find `index.lock` file in my `.git` folder but it doesn't exist.  😵

[2017-09-24 17:07] carloscuesta commented on #64
As the error messages says, this problem comes from:

an editor opened by 'git commit'. Please make sure all processes
are terminated then try again. If it still fails, a git process
may have crashed in this repository earlier:
remove the file manually to continue.

I've been investigating and I haven't found a solution yet. It's really weird because it's hard to reproduce the error. IMHO I think

[2017-09-24 17:10] gluons commented on #64
Agree. I can't predict when it'll happen. I happen randomly. 😴

[2017-09-24 17:45] carloscuesta commented on #64
@gluons @svenlombaert @Seaony @samirdhebar @LBreda

I've created at `lab-fix-index-lock` to test out some fixes, could you please try to install the cli from this branch and see if the problem persists?

[code]

[2017-09-24 18:18] gluons commented on #64
@carloscuesta  **Off topic:** New version no longer has default CLI action? 😅

![_004](https://user-images.githubusercontent.com/4688092/30785264-af8f29e2-a18e-11e7-87a5-6da10d5bec23.png)

[2017-09-24 18:35] carloscuesta commented on #64
@gluons No

Read the release changelog at https://github.com/carloscuesta/gitmoji-cli/releases/tag/v1.7.0

[2017-09-24 18:37] gluons commented on #64
Oh! Sorry. The fresh version. I haven't read it. 😅

[2017-09-25 17:36] gluons commented on #64
It still happen. 😢

![default](https://user-images.githubusercontent.com/4688092/30822371-b1865ed6-a252-11e7-9bb1-80921e28c12b.png)

[2017-10-13 20:14] #56 closed

[2017-10-17 13:28] zwkcoding commented on #65
How to solve it if `NODE_VERSION` v4.2.6 ?

[2017-10-17 13:57] carloscuesta commented on #65
Updating your `NODE_VERSION` to the LTS @zwkcoding

[2017-10-17 14:00] carloscuesta commented on #65
On the next update, `gitmoji-cli` will not be installed if you don't have the minimum needed `NODE_VERSION` installed.

See https://github.com/carloscuesta/gitmoji-cli/commit/02e091cebddf2fc2e67bf7ac66ec1906ac967603

[2017-10-18 16:08] kamontat opened #71 "commit make terminal freeze"
Hello @carloscuesta!

my terminal hang/freeze when I use `gitmoji -c`

#### Issue:
my step is
1. select emoji
2. enter commit title
3. let message empty
4. let issue empty
5. `HANG`

example result
[code]

![screen shot 2560-10-18 at 23 06 07](https://user-images.githubusercontent.com/14089557/31729335-f1ec41ee-b458-11e7-8234-32d04f754b7e.png)
**gitmoji-cli -v**: 1.8.1
**Node version**: v8.5.0

[2017-10-18 16:20] kamontat opened #72 "Can this auto close issue in github by close keyword?"
Hello @carloscuesta!

closing-issues: https://help.github.com/articles/closing-issues-using-keywords/

[2017-10-18 19:23] carloscuesta commented on #72
Yes it’s actually supported, if you reference the issue with the number and then on the commit message you should put the keyword like “Closes”

[2017-10-18 19:26] carloscuesta commented on #71
Did you used the hook init method before? If it’s true that’s the issue you should delete the hook file.

However, you can try the cli on a fresh git repository?

Create a new directory, run `git init` add some random files and try to use the -c option. It should work as expected

[2017-10-19 09:20] kamontat commented on #71
Try but still freeze.

[2017-10-19 09:34] kamontat opened #73 "when I use hook this always return error at the end"
Hello @carloscuesta!

#### issue
when I try to commit my work using hook, this what it happen

version same as before #71

**PS**: but the commit working fine

**Error Message**:
[code]

[2017-10-19 09:34] kamontat commented on #72
Oh I have tested, and It work fine. Thank you

[2017-10-19 09:34] #72 closed

[2017-10-19 12:52] kamontat opened #74 "Can you add spacebar between emoji and title?"
Hello @carloscuesta!

[2017-10-19 13:17] carloscuesta commented on #74
What? A spacebar? Between the emoji and the title there is a whitespace character.

[2017-10-19 13:18] #74 closed

[2017-10-19 14:32] kamontat commented on #74
Why my computer doesn’t have any whitespace?

[2017-10-21 11:28] carloscuesta commented on #71
It's working fine for me @kamontat

![screen shot 2017-10-21 at 13 28 21](https://user-images.githubusercontent.com/7629661/31851319-b8bb6118-b663-11e7-80c7-e50346fbba33.png)

[2017-10-21 11:29] #71 closed

[2017-10-21 11:31] kamontat commented on #71
After I enter Issue and pr, what is script doing? Just call commit?

[2017-10-21 11:42] carloscuesta commented on #71
https://github.com/carloscuesta/gitmoji-cli/blob/eac2b612071c302fc1a10222780d3084b7294627/src/gitmoji.js#L117-L143

[2017-10-21 21:37] #73 closed

[2017-10-24 11:31] StefMa opened #76 "Don't work with Android Studio / IntelliJ"
Hello @carloscuesta!

The client isn't working in Android Studio (so I think on IntelliJ as well but haven't tested it)

Issue:
If I run `gitmoji -c` i don't see the emojis.
![bildschirmfoto 2017-10-24 um 13 30 41](https://user-images.githubusercontent.com/10229883/31940777-92534dd4-b8bf-11e7-8f8e-387ddc34afc1.png)

Beside of that I got the same error like in #64

**OS**: High Sierra
**gitmoji-cli

[2017-10-29 08:32] carloscuesta commented on #76
Probably the builtin terminal that Android Studio is using, does not provides support for emojis. As you can see, the :zap: is being displayed but not with the Apple Color Emoji Font.

[2017-11-18 13:24] #76 closed

[2017-11-18 18:39] dherediat97 opened #78 "Error while do a commit: line 3: /dev/tty: No such device or address"
Hello @carloscuesta!

The plugin fails when i do a commit (**In Windows**)

Issue:
Just when i put the pull request number in the gitmojii -c command(i havent pull request in my repository, i dont know if is required).

**OS**: Windows 10
**gitmoji-cli -v**: 1.8.3
**Node version**: 6.9.2

Also, i dont see the emojis, could be a problem in Windows.

**Error Message**:
ERROR: .git/hooks/prepare-comm

[2017-11-18 18:59] carloscuesta commented on #78
Hey @dherediat97

Looks like this is an issue with your environment, see this issue it might help you! https://github.com/atom/atom/issues/8984

[2017-11-19 12:37] dherediat97 commented on #78
Hello again @carloscuesta , the problem is the environment, because i changed one thing of  [atom/atom#8984](https://github.com/atom/atom/issues/8984) this issue, and now dont work the gpg.

So isnt a problem of your plugin.

Also now i see the emoji icons 👍

[2017-11-19 16:34] carloscuesta commented on #78
Closing it then, thanks @dherediat97

[2017-11-19 16:34] #78 closed

[2017-11-20 11:13] mecha opened #80 "Backticks in commit messages"
Hello @carloscuesta!

We use backticks ("`") in our commit messages around things like class names, function names etc. However, using backticks in the commit title and description CLI prompts does not appear to be possible, or perhaps I fail to see how it is possible.

**Error Message**: "Enter a valid commit title"

**OS**: Ubuntu 16.04 under WSL
**gitmoji-cli -v**: 1.8.4
**Node version**: 9.2.0

[2017-11-20 11:34] carloscuesta commented on #80
Hey @mecha!

This was introduced as of #52, I have no problem on removing it but taking in consideration the security

[2017-11-21 07:38] dancerphil opened #81 "gitmoji init won't a the hook if the parent directory does not exists"
Hello @carloscuesta!

When run `gitmoji -i`, I got `ERROR: Error: ENOENT: no such file or directory, open 'xxxxxx/.git/hooks/prepare-commit-msg'`

And `gitmoji commit hook created successfully.`

But actually, the hook is not created.

If `/.git/hook` dir not exist, bug happens.

**OS**: macOS Sierra
**gitmoji-cli -v**: 1.8.4
**Node version**: 8.2.1
**Error Message**:

ERROR: Error: ENOENT: no suc

[2017-11-21 19:17] carloscuesta commented on #81
Hey @dancerphil

As far as I know, it's a standard the hooks directory that lives under `./git/hooks/` when you create a git repo.

On a fresh repository it just works, see

<img width="1440" alt="screen shot 2017-11-21 at 20 14 58" src="https://user-images.githubusercontent.com/7629661/33091985-fece9c80-cef8-11e7-92db-07754289f1f5.png">

[2017-11-30 19:01] preethikalyani88 opened #83 "gitmoji -c fails with "Use of const in strict mode" at launch time."
Hello @carloscuesta!

gitmoji -c fails with "Use of const in strict mode" at launch time.

Issue:
Description: "gitmoji -c fails with "Use of const in strict mode" at launch time."
The stack trace is as follows:
○ → gitmoji -c

/usr/lib/node_modules/gitmoji-cli/cli.js:4
const meow = require('meow')
^^^^^
SyntaxError: Use of const in strict mode.
at Module._compile (module.js:439:25)
at Object.Modu

[2017-11-30 19:08] carloscuesta commented on #83
Hey @preethikalyani88

This is because you have an unsupported `NODE_VERSION`, as specified in the package.json, the minimum required version of node to use this package is v6 or LTS.

Related #65

[2017-11-30 19:08] #83 closed

[2017-12-17 14:42] #81 closed

[2018-01-23 18:39] waghcwb opened #86 "Gitmoji init command is not recursive inside a git folder."
Hello @carloscuesta!

Gitmoji init command is not recursive inside a git folder.

Issue:
If we have a git repo, then enter some folder inside that repo and run `gitmoji --init`, `gitmoji-cli` tell us that the hook was sucessfully created
`gitmoji commit hook created successfully.`.

But it doesn't created the hook.

**OS**: Deepin OS 15.5 (Linux, Debian based)
**gitmoji-cli -v**: 1.8.7
**Node vers

[2018-01-29 14:41] ByronHsu opened #87 "The program stops when using 'gitmoji -c' after the hook is constructed"
Hello @carloscuesta!

Issue: The program stops when using 'gitmoji -c' after the hook is constructed

OS: MacOS Sierra version 10.12.6
gitmoji-cli -v: 5.6.0
Node version: v9.3.0

Description: The program stops when finishing the selection of gitmoji -c after the hook is constructed.
bug reproduce:
[code]
After the selection done, the program will stop.

Error Message:
The terminal freezes.
<img wi

[2018-02-23 15:56] #80 closed

[2018-02-27 09:33] arnochauveau commented on #59
@JulioC i've found a temporary workaround:

You can specify your own config via the `NODE_CONFIG` environment variable.
You might need to search a bit in the source code to find the right options. `config.js` and `constants.js` should contain all the info you need.

for example:
`NODE_CONFIG='{"autoAdd": "true"}' gitmoji -c`

I would recommend making an alias for this command :smile:

[2018-03-13 15:53] RumbleFrog commented on #64
An interesting thing is that if you create index.lock manually and try to commit, it'll emit the error message twice.

[2018-03-14 13:30] RumbleFrog commented on #64
I'm constantly getting this specific error on this repo: https://github.com/sbpp/sbpp.github.io

But not any others, not sure what's different

[2018-04-10 20:31] teid opened #91 "Can not use gitmoji behind an HTTP proxy"
Hello @carloscuesta!

I ran into an issue when using gitmoji-cli through a HTTP corporate proxy.
It seems to be related to this issue on Axios which has been stuck couple months: https://github.com/axios/axios/pull/959

Would you accept a PR to migrate the `gitmojiApiClient` to another http client ?

Issue:
When using gitmoji-cli through a HTTP proxy, Axios tries to connect to the proxy as an HTTP

[2018-04-17 13:07] darkylmnx commented on #48
@carloscuesta why is gitmoji forcing signing ? What happens if the project doesn't have any signing on the repo ? I think you might loose some users by forcing it :/

[2018-04-17 13:13] darkylmnx opened #93 "Text duplicating in command line when hook applied to "git commit""
hello @carloscuesta!

So I freshly installed gitmoji, I wanted to use `gitmoji -c` but because of a signing issue a gave up and ended up using the hook on `git commit`.

But, when I did a commit I encountered a visual / graphic bug in the command line. The text keeps duplicating

Issue:
I did the following :
`gitmoji -i` then `git commit` then I had the options to choose a gitmoji, then I used the

[2018-04-17 19:36] carloscuesta commented on #48
It does not force signing, it just prompts the user @darkylmnx

[2018-04-17 19:46] darkylmnx commented on #48
@carloscuesta well look a this :
![image](https://user-images.githubusercontent.com/1426357/38892750-6ca7cc2e-4288-11e8-884b-c24bf5bf5c0d.png)
This is when i have added a hook and used gitmoji -c

![image](https://user-images.githubusercontent.com/1426357/38892874-c72c6182-4288-11e8-8110-0029b9f6c10d.png)

This is when I removed the hook and used gitmoji -c

[2018-04-18 09:53] carloscuesta commented on #48
Did you try to disable the signing via the `config` option? https://github.com/carloscuesta/gitmoji-cli#config

[2018-04-18 15:42] darkylmnx commented on #48
Nice ! Seems to work fin with this. There's still an issue with the hook though here => https://github.com/carloscuesta/gitmoji-cli/issues/93

[2018-04-21 23:10] ppartarr commented on #64
If you are using an IDE try disabling source control and refreshing

[2018-04-28 22:39] StagasaurusRex opened #94 "Commit message character count/limits or Vim support?"
I am trying to enforce a hard limit on commit title length (just for myself) and I think it would be helpful to have some indication of how many characters you've typed so far or a configurable hard limit on how many characters the title is.

Vim (or at least my vim), does this nicely by changing color after a certain number of characters.
![screen shot 2018-04-28 at 11 45 28 pm](https://user-imag

[2018-05-03 00:51] mateusvelleda opened #95 "Refer to issues using keywords or in a different repository"
Hello @carloscuesta!

It's not possible to refer to issues using keywords or refer to issues in a different repository.

Issue:
It's common to have issues assigned to a team's repository instead of to the project's one. By using gitmoji I can't use keywords to automatically close issues when my PR's get accepted and merged.
By refer using keywords I mean something like `closes carloscuesta/gitmoji

[2018-05-03 01:16] mateusvelleda commented on #95
Hey @carloscuesta

I just realized it's just a matter of editing the commit message, adding my keywords so.
Even so, I'll keep this issue open as a suggestion of _PR reference_ improvement.

Thanks,

[2018-05-04 05:17] erikhuizinga opened #96 "Automatically apply 50/72 rule (max characters on commit title/message lines)"
Hello @carloscuesta!

Automatically apply (or add a (default) option to apply) the 50/72 line length rule of commit titles/messages.

Issue:
I sometimes write (too) long commit titles and messages. To prevent this, I use a text editor and I keep a look out for the line length:

 - The title is at most 50 characters long.
 - The rest of the commit message's lines are at most 72 characters long.

Th

[2018-05-06 17:56] carloscuesta commented on #95
Hello @mateusvelleda,

The issue referencing now is a little bit weird if you're not used to this cli so I will consider this as a feature request and try to improve it!

[2018-05-06 17:59] carloscuesta commented on #96
@erikhuizinga I'm not really a fan of automatically enforcing practices, but for me makes sense to add the counter or something like that in order to help users to follow the 50/72 rule 👍

[2018-05-06 17:59] carloscuesta commented on #94
Related with #96

[2018-05-06 18:00] carloscuesta commented on #96
Related with #94

[2018-05-06 21:52] carloscuesta commented on #93
@darkylmnx This is probably an issue with `inquirer-autocomplete-prompt`, i'm updating it to the last version and publishing a new release to see if that fixes the issue.

[2018-05-06 21:56] #93 closed

[2018-05-17 15:16] erikhuizinga opened #97 "Only log successful update if gitmojis changed"
The following always logs a successful update, but how do I know if there were any gitmojis updated? As a user I want to know about new or changed gitmojis, so I can use them properly.

https://github.com/carloscuesta/gitmoji-cli/blob/b5e81392c53b42ab615379777c8a4a3f31ce4dcd/src/gitmoji.js#L188

More awesome would be an automatic update after a gitmoji-cli update. And even more awesome would be a

[2018-06-02 06:06] coder-pig opened #98 "not tty"
Hello @carloscuesta!

When i use gitmoji-cli，console print:

![image](https://user-images.githubusercontent.com/6879486/40871415-ce094caa-666d-11e8-9f00-d2a834712e48.png)

**OS**: windows 10
**gitmoji-cli -v**:1.8.9
**Node version**:10.3.0

How can fix it？ths~

[2018-06-02 07:55] carloscuesta commented on #98
Thisvis an issue relatef with your machine configuration of gpg when signing commits, not gitmoji-cli

[2018-06-02 07:55] #98 closed

[2018-06-04 07:40] martinfengshenxiang commented on #64
I'am also don't have the index.lock file.
when I am running git add --all & git commit -m 'add some file',  get the error.
But after I running each command seperately, problem solved!
I runned:
`
git add --all
git commit -m 'add some file'
`
just like magic😊

[2018-06-08 17:34] #86 closed

[2018-06-08 17:34] #87 closed

[2018-06-08 17:37] #94 closed

[2018-06-08 17:37] #96 closed

[2018-06-23 16:39] GitSquared opened #104 "Error when using -i option"
Hello @carloscuesta! (nice issue template by the way, i might just steal it)

I can't seem to setup the gitmoji hook using `gitmoji-cli`.

Issue:
- create a new git repo
- `cd` into the thing
- run `gitmoji -i`
- get error message below
- cry

**OS**: Debian 9
**gitmoji-cli -v**: 1.9.0
**Node version**: v9.11.1

**Error Message**: `ERROR: Error: ENOENT: no such file or directory, open '--absolute-

[2018-06-23 17:50] carloscuesta commented on #104
Hey @GitSquared thanks for the report that might be related with #90 @CGA1123

[2018-06-25 03:57] romain-gsr opened #105 "Add optional scope"
Hello @carloscuesta!

Most of commit message format offer to specify an optional `scope`.
That would be cool to follow this standard as it can be quite useful.

[2018-06-30 13:11] anxolerd opened #106 "Feature request: per-project configuration"
Hello @carloscuesta!

My team and I really love gitmoji-cli project and in our team we already using it on several projects. However, we work on both projects which use JIRA for issue tracking and projects on GitHub (which obviously use Github Issues for that). However gitmoji-cli only allows one configuration for issue naming^ either JIRA or Github.

Issue:
We did not found a way to have a per-pr

[2018-06-30 13:12] anxolerd commented on #106
Whoops, sorry, did not notice #59 before opening this. Closing this issue in favor of the latter.

[2018-06-30 13:12] #106 closed

[2018-07-05 07:28] pan3793 opened #107 "some emoji lose a space after itself"
i use unicode mode, just use: gitmoji -l
⬇️ ⬆️ ♻️ 🗃 🏗
those emoji are different with others, they lose a space between itself and - .

[2018-07-07 04:21] GitSquared commented on #104
@Keyzou thanks for the help. I'll try this when i get home.

[2018-07-09 04:08] muwoo commented on #64
@martinfengshenxiang yeah! That's true! `gitmoji -c` whill running `git add . && git commit -m ''` default.
so I run `gitmoji -g` and choose N to  close `git add .`

![image](https://user-images.githubusercontent.com/21073039/42430214-58514cb8-8370-11e8-8f2d-fc858b0378e5.png)

After that, just fine.

[2018-07-10 21:45] #104 closed

[2018-07-14 01:25] winstonjz opened #110 "Implement fuzzy search"
Hello @carloscuesta!

I used the npm package fuzzy suggested inquirer-autocomplete-prompt on my fork to implement fuzzy search. Can I make a PR for this ?
Issue:

![fuzzy-gitmoji](https://user-images.githubusercontent.com/20022500/42719486-eaca4d62-86ca-11e8-8eb7-9fbb25a06dd6.gif)

[2018-07-24 20:54] RMHogervorst opened #111 "installation ubuntu (16.04) refers to node not nodejs or npm"
Hello @carloscuesta!

You made me so excited about emojis that I  installed npm!

- I installed npm  `sudo apt-get install nodejs`
- I installed gitmoji  `sudo npm i -g gitmoji-cli`
- started gitmoji (FAIL)
Issue:

installation works, but gitmoji calls to node (which is apparently a different program)
it does complain while installing
[code]

**OS**: ubuntu16.04
**gitmoji-cli -v**:
**Node version*

[2018-07-25 08:17] RMHogervorst commented on #111
Why o why is it soo hard to install a current version of nodejs...

If you are stuck like I was: update to a new version of nodejs (6 or higher)
following these instructions:
https://askubuntu.com/questions/786272/why-does-installing-node-6-x-on-ubuntu-16-04-actually-install-node-4-2-6#786279

[2018-07-25 08:44] carloscuesta commented on #111
Hey @RMHogervorst

See [this tutorial to install Node.js](https://nodejs.org/en/download/package-manager/)

[2018-07-25 09:50] carloscuesta commented on #110
This is already implement at the cli see #33

[2018-07-25 09:50] #110 closed

[2018-07-27 15:42] aneveux commented on #91
Hello @carloscuesta :)

I hope you're doing fine!

I'm a huge fan of gitmoji and I sadly ran in the same problem as @teid while using gitmoji-cli behind a corporate proxy. I luckily found this issue but I'm so sure about the status of it, do you have any information about that topic?

Thanks a lot, and have an awesome day!

[2018-07-28 19:45] svchraghava commented on #64
I also face the same issue in windows.

![image](https://user-images.githubusercontent.com/37681830/43360089-dc5b8f66-92e1-11e8-9b93-236a60592a50.png)

[2018-07-30 06:51] NE-SmallTown opened #113 "Should autoAdd add all project files instead /path/ files?"
Issue:  From:

https://github.com/carloscuesta/gitmoji-cli/blob/master/src/gitmoji.js#L150

It seems that we can only add the files of current path. But for a project, it would be better to add all files. E.g. use https://github.com/inxilpro/node-app-root-path instead `add .`

**OS**: MacOS
**gitmoji-cli -v**: 1.9.0
**Node version**:8.11.3

[2018-07-31 01:40] STRRL opened #114 "error with "$running" in commit title"
hello, i think here is a bug with env variables.

i write this as commit title:

"use $running as String"

but after commit, it shows "use ½¬ as String".
then i run `echo $running`, nothing output.

[2018-08-06 18:35] kykungz opened #115 "Git hook scripts not showing in console"
Hello @carloscuesta!

I'm trying out with the new [vue-cli](https://github.com/vuejs/vue-cli), and installed the built-it git hook, which later I learned that it uses Evan You's [yorkie](https://github.com/yyx990803/yorkie) package. When I try to use `gitmoji -c`, the git hook scripts are running normally, but without logging on my console. However, when the git hook scripts found errors while run

[2018-08-08 13:44] dcastil opened #116 "commit-hook not working"
Hello @carloscuesta!

The commit-hook applied with

[code]

doesn't work on my computer. When commiting, the gitmoji CLI appears as it should, but afterwards vim gets displayed and the terminal asks me for a commit message, which probably shouldn't be the case. When I close vim, I get the error message `Aborting commit due to empty commit message.` although I've provided a commit title through the

[2018-08-08 14:13] carloscuesta commented on #115
Hey @kykungz thanks for the suggestion I'm not considering doing this now!

[2018-08-08 14:13] #115 closed

[2018-08-08 14:17] carloscuesta commented on #116
I have no problems while using the commit hook @dcastil 🤔

<img width="531" alt="screen shot 2018-08-08 at 16 16 09" src="https://user-images.githubusercontent.com/7629661/43842849-816f5630-9b26-11e8-9bb6-c1520c8d5d30.png">

[2018-08-08 14:18] #105 closed

[2018-08-08 14:19] carloscuesta commented on #107
That's the problem when using unicode instead of the `code` format, sometimes you get weird spacing issues @pan3793

[2018-08-08 14:19] #107 closed

[2018-08-08 15:08] dcastil commented on #116
I just found out that the behaviour changes when I uninstall [oh-my-zsh](https://github.com/robbyrussell/oh-my-zsh). Then the title is displayed correctly in the edit message.

[2018-08-08 16:15] carloscuesta commented on #116
I use zsh and have no problem. Then should be something related with your environment

[2018-08-08 16:15] #116 closed

[2018-08-15 07:15] zhaoxiaowei1013 opened #117 "unable to create .git/index.lock"
[code]

[code]

[2018-08-15 09:47] carloscuesta commented on #117
Duplicated #10

[2018-08-15 09:47] #117 closed

[2018-08-23 17:17] mixn commented on #48
@carloscuesta Disabling signed commits doesn’t work for me. I still get

[code]

Shouldn’t this not be the case + it just work? Also, I’m currently working on my old machine where I am re-installing gitmoji-cli. I had this issue on my new machine already, but don’t remember how I solved it. Any idea?

[2018-08-24 15:53] mixn commented on #48
@carloscuesta How to solve this? GPG is disabled.

[2018-08-24 16:14] carloscuesta commented on #48
Do you have some sort of global config to sign commits? @mixn

[2018-08-24 16:19] mixn commented on #48
It is set to false via `git config --global commit.gpgsign false`.

[2018-09-08 21:52] carloscuesta commented on #114
Works fine for me @STRRL maybe is something related with your shell

![screen shot 2018-09-08 at 23 51 48](https://user-images.githubusercontent.com/7629661/45258940-2fb1aa00-b3c2-11e8-9d2a-f03dd6430080.png)

[2018-09-08 21:52] #114 closed

[2018-09-08 21:53] carloscuesta commented on #113
Hey @NE-SmallTown

I think it's easier and more straightforward to add files at the current path. That enforces you to have always open the project root directory.

[2018-09-08 21:53] #113 closed

[2018-09-15 18:08] ETLaurent opened #126 "Allow backticks (`) in commit messages"
Hi!

It would be good to allow backticks in commit messages, to talk about code etc.

What do you think @carloscuesta ?

Cf. https://github.com/carloscuesta/gitmoji-cli/blob/460b79497ae7e791bc8ba8475bda8f0b93630dd3/src/guard.js#L14

[2018-09-15 18:44] carloscuesta commented on #126
Hey @ETLaurent see #80

[2018-09-15 19:00] ETLaurent commented on #126
@carloscuesta Ok my bad, I haven't looked very far.

And actually, backslashing backticks includes them in the commit.

[2018-09-15 19:00] #126 closed

[2018-09-15 20:24] ETLaurent opened #127 "Add files automatically if stage is empty"
Hello @carloscuesta!

We could add an option `autoAddOnEmptyStage` in the configuration, shown to the user if he has chosen `no` to `autoAdd` option.

If he selects `autoAddOnEmptyStage` option, `git add .` is run only if no file is staged.

---

The idea is to do something like the `Smart Commit` option in VSCode:

![image](https://user-images.githubusercontent.com/8301962/45590266-55483180-b935-

[2018-09-18 14:36] JSteunou commented on #64
I think that's because it should be `git add --all && git commit -m 'add some file'` with a double `&` if you wanna run the cmds separately

[2018-10-01 20:52] neilime opened #131 "Hooks on windows duplicate cli output"
Hello @carloscuesta!

Issue:

There is a unexpected behavior on using your great package hook on a windows cli (powershell, [hyper](https://hyper.sh/), git bash). When I type something, the output is duplicated.

The cli works fine with `gitmoji -c`

**OS**: Windows 10
**gitmoji-cli -v**: 1.9.2
**Node version**: v10.11.0

Screenshot - using git commit hook (`git commit`), then move down :

![match

[2018-10-11 12:24] lifenautjoe opened #132 "All files are committed, regardless staged or not."
Hello @carloscuesta! Thanks for the great tool.

Issue:
When running `gitmoji -c` and committing, all the files, regardless of staged or not, get committed.

Expected that the files that are staged are the only ones that get committed, same way as the`git commit` command works.

**OS**: Mac OS Mojave
**gitmoji-cli -v**: 1.9.2
**Node version**: 9.5.0

[2018-10-11 12:26] #132 closed, assigned to nobody

[2018-10-12 09:57] #64 closed

[2018-10-29 10:44] rishichawda opened #138 "Add an option to enter scope of changes in a commit"
Hello @carloscuesta!

Recently, folks at our organization shifted from [Commitizen](https://github.com/commitizen/cz-cli) to gitmoji-cli for commits for more readable commit messages and also because it just looks better!
But we had one minor problem, _i must say feature request_, on the gitmoji cli. It would be better if we had an option to add `scope` to the commit message which helps us a lot i

[2018-10-29 10:49] rishichawda commented on #138
I'll raise a PR shortly for the demo of the feature. I've forked the repo and added the feature. Just working on the tests.

[2018-10-29 10:56] rishichawda commented on #138
I'll raise a PR shortly for the demo of the feature. I've forked the repo and added the feature. Just working on the tests.

[2018-10-29 11:15] rishichawda commented on #138
Raised a PR ( #139 ). Please review and add it as a feature to gitmoji-cli! Thanks!

[2018-11-12 14:57] carloscuesta commented on #131
That's weird unfortunately I have no Windows machine to reproduce the error, any help is appreciated

[2018-11-16 09:15] JJZHK opened #143 "what's your zsh theme? so good."
could you tell me what's your zsh theme?

[2018-11-16 10:20] carloscuesta commented on #143
Hey @JJZHK

It's an own theme called materialshell is open-source and you can get it on github here.

[materialshell](https://github.com/carloscuesta/materialshell).

For this kind of questions, please ping me on twitter [@crloscuesta](https://twitter.com/crloscuesta)

[2018-11-16 10:20] #143 closed

[2018-11-17 21:43] DoubleU23 opened #145 "[FEATURE] ✨ Conventional Commits support! 🎉"
Hello @carloscuesta!

I've added support for CC,
hope you are willing to add it to your awesome tool.

here is the PR #144

detailes can be discussed - please give feedback

## :sparkles: added feature conventionalCommits

using [@stack23/gitmoji-conventional-commits^3.2.9](https://github.com/stackr23/gitmoji-conventional-commits#v3)
the emoji gets replaced with [Conventional Commit Prefixes](http

[2018-11-17 23:07] DoubleU23 commented on #138
working on it!*

see #145 -> TBD

[2018-11-18 00:59] DoubleU23 commented on #145
need help with jest snapshots, did never work with them.

[2018-11-18 07:20] rishichawda commented on #145
@DoubleU23 Just a thought, isn't the emoji already supposed to convey the kind of commit? For example, 🐛 is already supposed to specify that it's a bug fix, so having both of them would just eat up the commit message length. Don't you think?

[2018-11-18 22:34] DoubleU23 commented on #145
I understand if you dont want it to be in your package,
But maybe you should consider to get more infromend about conventional commits,
Which is also connected to semantic versioning and tools like semantic-release and changelog generators.

So im still using it for myself
My package is supposed as bridge to other tools like commitizien and others,
So maybe youre interested in adding some construc

[2018-11-25 23:16] Apsistec commented on #131
I have the same issue and it duplicates every interaction after that, such as to only allow entering one letter at a time for ###Title and for ###Message

[2018-11-27 07:00] m-roberts opened #147 "[Feature Request] Add word tags/fuzzy search to improve searching"
Hello @carloscuesta!

I was wondering if it would be possible to consider adding synonyms to words included in the full text descriptions to improve results. Allowing for a partial match would be very helpful too. Being able to to search for synonyms of the emoji string would also be helpful.

For example:

| Search For | Result Shown             |
|------------|--------------------------|
| comme

[2018-11-28 08:53] m-roberts opened #148 "[Feature Request] Escape double quotes in commit title"
Hello @carloscuesta!

If a commit message has double quotes (`"`) in it, it will fail. It would be great to escape these automatically, so that the escape characters do not contribute towards the character count.

[2018-12-06 16:31] jfstgermain opened #150 "Multiline message support"
Hello @carloscuesta!

Issue:
Multiline message do not seem to be supported

**ubuntu 18.04**:
**1.9.2**:
**10.14**:

Awesome plugin!
It would be great if multiline messages were supported!

[2018-12-24 06:48] ZakirBalti commented on #64
try to delete the Exist lock file then issue will be resolve
rm -f .git/index.lock

[2019-01-03 18:05] silent-e commented on #150
how about, just like when we used to send emails from the command line, when finished with your message you enter a single dot on it's own line

[code]

the final carriage return after the dot proceeds to the next gitmoji section.  retro and elegant.

[2019-01-19 15:08] cleitonper opened #152 "[Improvement] Increase remote fetch timeout"
Hello @carloscuesta!

After `gitmoji-cli` installation, when I run the `gitmoji -l` command the following error is returned:

[code]

I changed the `gitmoji.js` file at *line 205* to view more details about the **Network connection not found** error, and I discovered that this problem is related to axios timeout configuration;

[code]

With this change, the error was changed

[code]

Increasing `a

[2019-01-21 21:17] carloscuesta commented on #145
Hey @DoubleU23

Thanks for your suggestion, IMHO I prefer to stick to the original idea of using an emoji to replace those kind of things, that's what the convention it's all about!

Thanks! <3

[2019-01-21 21:17] #145 closed

[2019-01-21 21:22] carloscuesta commented on #147
Hey @m-roberts

I agree with it, we can improve a lot the search of emojis with the cli!

[2019-02-23 23:53] Pictor13 commented on #150
I came here because in my case I already had the (long) commit message written somewhere.
I tried to paste it but just the first line is taken and all the rest is skipped; also, it pastes the last line of the message in the *"Issue / PR reference"*.

My use case was me trying to `git commit --amend`, but `gitmoji` is called again and asks me to choose and type everything again, rather than going s

[2019-02-25 06:06] borwahs commented on #150
Ran into a similar need for multiline commit messages.

Here are options I have been exploring to add to `gitmoji`:

1. Multiline input for the message prompt
    - two ways to "end" the message: ctrl + d, with single '.'
2. Pop open an external editor on the commit message step
3. Pop open an external editor for commit title and message (prepend emoji after)
4. Trickery with `commit.template` (se

[2019-02-25 09:52] carloscuesta commented on #150
Ideally we should implement the multiline support through inquirer, even If they still don't support it, basically to avoid doing hacky things 😄

[2019-02-25 23:08] borwahs commented on #150
👍 I don't plan to go the hacky route. It was more an exercise in a quick solution locally so I can use it with multiline commits.

Initially I thought we would need to get multiline support into inquirer. They allow for custom prompts that we can register at runtime. I am going to build a prompt that works with inquirer as multiline and see if I run into any issues.

I'd like to support:

1. `copy

[2019-04-10 19:17] paulywill opened #168 "How does the auto git add . feature actually work?"
Hello @carloscuesta 😎!

How does the auto git add . feature actually work?

And can you add some more documentation about it?

[2019-04-10 20:04] carloscuesta commented on #168
Hello @paulywill

The auto git add configuration. Basically runs `git add .` for you when running gitmoji.

That means that you don’t need to add the files yourself

https://git-scm.com/docs/git-add

[2019-04-10 20:30] paulywill commented on #168
@carloscuesta Does this feature work when activating or using the hook?

[2019-04-10 21:10] carloscuesta commented on #168
Not really, because we assume that when you use a commit hook, you handle the process of adding the files manually since you don’t want to run the gitmoji command at all. You’re using it within the `git commit` message

[2019-04-17 19:10] xieyezi opened #171 "Enter "#." Always prompt error?"
Hello @carloscuesta!

 because my github project have no isses,so when I choose "Issue / PR reference:" ,I enter "#." ,but there are some tips always  popping up.
Issue:

➜  Music git:(master) ✗ gitmoji -c
#$ Choose a gitmoji: 📝  - Writing docs.
#$ Enter the commit title [13/48]: update readme
#$ Enter the commit message: update readme.md
#$ Issue / PR reference: #.
Always show this tips👇:

mac OS

[2019-04-19 15:58] #168 closed

[2019-05-16 11:01] moseb opened #176 "[rfc] Change of defaults (AutoAdd true -> false / SignedCommit true -> false)"
Hi!

It seems that https://github.com/carloscuesta/gitmoji-cli/blob/775d84b6e48b1943fd04e8d0801b70f0417fcbae/src/gitmoji.js#L21-L24 makes two defaults that I consider troublesome to a general audience:
- `config.setAutoAdd(true)` — because it might make people add and publish secret files by mistake
- `config.setSignedCommit(true)` — because (arguably) most people don't sign their commits with GPG

[2019-05-16 16:09] dialex opened #177 "Feature request: Is there a way to reduce the number of choices?"
Hello @carloscuesta!

Feature request:

I know I can filter/search for a commit type... but what would really speed up my flow was if I could reduce the number of options when I do `gitmoji -c`. Like a global config, where I could say the emojis/types that interest me.

Something like e.g. 📦 NEW, 👌 IMPROVE, 🐛 FIX, 📖 DOC, 🚀 RELEASE, and ✅ TEST from [EmojiLog](https://opensource.com/article/19/2/emo

[2019-05-16 16:11] dialex commented on #177
Maybe this is what I'm looking for? https://github.com/ngryman/cz-emoji

[2019-05-16 16:18] dialex opened #178 "gpg failed to sign the data"
Hello @carloscuesta!

Issue:

I tried to make my first commit with gitmoji and I got an error. The commit was not done. If I do a simple `git commit -m "stuff"` it works. So it's not a git config issue.

[code]

**OS**:
**gitmoji -v**: 1.9.2
**Node version**: 10.15.3

**Error Message**:

[code]

[2019-05-16 16:19] dialex commented on #178
Maybe related with #48

[2019-05-16 16:21] dialex commented on #177
Nevermind, I saw that as I type it filters, so that's good enough. :)

[2019-05-16 16:21] #177 closed

[2019-05-16 20:46] hartwork commented on #178
And maybe #176 as well

[2019-05-17 08:45] dialex commented on #178
Ok this https://github.com/carloscuesta/gitmoji-cli/issues/48#issuecomment-382331970 was the solution. Run `gitmoji -g` and disable signing.

[2019-05-17 08:45] #178 closed

[2019-05-17 10:34] carloscuesta commented on #177
Yes, you can search for the emojis while you're commiting just by typing

[2019-05-28 02:31] gee1k commented on #150
support `\n` line breaks like [commitizen](https://github.com/commitizen/cz-cli) ?

[2019-06-10 16:30] Bhupesh-V commented on #171
I am having the same issue
It's not always necessary that someone would have a issue/PR to refer

[2019-06-12 05:48] ABHIJEET-MUNESHWAR commented on #107
@carloscuesta Any solution to this bug?

[2019-06-12 18:28] carloscuesta commented on #107
Not really @ABHIJEET-MUNESHWAR

[2019-06-14 05:23] vivaxy commented on #145
https://github.com/vivaxy/gacp might be your choice.

[2019-06-14 11:14] DoubleU23 commented on #145
thx for the suggestion!
since `commitlint` and `conventional-commits` are now located at the "same maintainers"
and is now handled with an more modular approach, we now use our own `commitlint-config` and plan to also implement an own parser for it as the "new" module approach also supports that

but for private usage i'll try it out, and may use it for some smaller projects :)

[2019-06-18 06:48] Jeff-Tian opened #182 "gitmoji -c failed"
Hello @carloscuesta!

Issue:

`gitmoji -c` failed by `failed to write commit object`.

[code]

**OS**: macOS
**gitmoji-cli -v**: 1.9.2
**Node version**: v8.11.3

**Error Message**:

![image](https://user-images.githubusercontent.com/3367820/59659115-0edf7600-91d8-11e9-9c27-08c54a48c9eb.png)

[2019-06-18 12:43] QoVoQ commented on #182
Same problem meet.

OS: 4.18.0-16-generic #17~18.04.1-Ubuntu
gitmoji-cli -v: 1.9.2
Node version: v10.15.3

[2019-06-19 07:58] carloscuesta commented on #182
Hey @Jeff-Tian this is not an error related with the cli, this is something related with how you set up git comming signing.

If you have not properly disabled signing please take a look at

https://github.com/carloscuesta/gitmoji-cli/issues/48#issuecomment-382331970

[2019-06-19 07:58] #182 closed

[2019-06-26 19:06] marcinlesek commented on #115
@carloscuesta any updates on it? 🤔was it considered to be developed?

[2019-07-22 03:05] nitaking commented on #176
@moseb
I was thinking exactly the same thing!
I made a version of CLI!

https://github.com/nitaking/gitmoji-c

[2019-07-23 06:20] Lichmaker opened #194 "can't use "gitmoji -u" to update"
Hello @carloscuesta!

i can't use ` gitmoji -u ` to update gitmoji

Issue:

when i use ` gitmoji -u ` , it said : ERROR: Network connection not found - ECONNABORTED

mac os 10.14.5
npm 6.10.1
node v12.1.0

![image](https://user-images.githubusercontent.com/8957712/61687374-ddb51100-ad54-11e9-8125-9d855563a962.png)

[2019-07-23 06:21] Lichmaker commented on #194
gitmoji version is 1.9.2

![image](https://user-images.githubusercontent.com/8957712/61687485-1523bd80-ad55-11e9-9e32-9b55e655d32c.png)

[2019-07-23 07:22] Lichmaker commented on #194
i think that was a net work problem.

but something wrong again. :(

![image](https://user-images.githubusercontent.com/8957712/61691213-a139e300-ad5d-11e9-970b-e1bd8ba35d04.png)

i can't update to 1.9.3

![image](https://user-images.githubusercontent.com/8957712/61691232-adbe3b80-ad5d-11e9-938d-16b9b97676ee.png)

[2019-07-23 08:51] carloscuesta commented on #176
Hey @moseb

I see the point of this, maybe it's an issue for the users, it's not that bad since it could be disabled.

But I'm concerned about this:

Maybe the users that are complaining are the ones who don't know how to disable this functionality and the other ones are happy with this behaviour. We have no data to value this.

But IMHO, we can change it to `false` as a default

[2019-07-23 08:52] carloscuesta commented on #194
Hey @Lichmaker as pointed out in the error message, this is a problem related with your connectivity.

[2019-07-23 08:52] #194 closed

[2019-07-24 01:25] Lichmaker commented on #194
thank u.  :)

[2019-07-25 10:37] moseb commented on #176
Cool, please check pull request #195. Thanks!

[2019-07-25 14:47] #176 closed

[2019-08-04 14:03] YIREN1 opened #196 "Love the PS1 of the demo termial"
Hello @carloscuesta!

Issue:

**OS**:
**gitmoji-cli -v**:
**Node version**:

**Error Message**:

[2019-08-04 14:03] #196 closed

[2019-08-04 14:04] YIREN1 commented on #196
not a issue

[2019-08-04 16:00] carloscuesta commented on #196
Thanks!

[2019-08-10 12:56] ilaborie opened #197 "skip hook if flag `--no-edit`"
Hello @carloscuesta!

I'm using the git commit hook installed with `gitmoji -i`

Issue:

When I amend a commit with the `--no-edit` flag, the hook to create the commit message
I think that the hook shouldn't ask the commit message in this situation

**OS**: MacOS
**gitmoji-cli -v**: 1.9.4
**Node version**: 12.7.0

[2019-09-11 09:16] carloscuesta commented on #171
Hey @xieyezi if you don't have any reference just leave this field empty, the prompt will continue.

I'm refactoring this in #102

[2019-09-11 09:16] #171 closed

[2019-09-11 09:17] carloscuesta commented on #152
That's perfect and makes sense, feel free to send a PR! ✨

[2019-09-11 09:23] #95 closed

[2019-09-11 09:36] xieyezi commented on #171
@carloscuesta   thanks！

[2019-09-11 09:41] carloscuesta commented on #138
Just reviewed the PR @rishichawda sorry for the late response 😊

[2019-09-11 09:44] #127 closed

[2019-09-11 10:45] #138 closed

[2019-09-15 10:20] rishichawda commented on #138
Sorry I was on a vacation and hadn't checked my notifications. I'm glad that you took out your time and updated the PR. Thanks @carloscuesta!

[2019-09-17 04:39] cchang62 commented on #91
Hi, @carloscuesta  Your gitmoji is such a great work but I also suffer the proxy issue. I think proxy settings are correct. Thank you.

[2019-09-17 19:54] xurizaemon commented on #91
It does look like axios/axios#659 has been merged and released in their 0.19.0, from all the snyk mentions in that issue. May be that we now can just update to that release?

[2019-09-23 17:32] HusamIbrahim opened #211 "Repeat output when initialized as a commit hook [Windows 10]"
Hello @carloscuesta!

This issue only happens when I initialize gitmoji as a commit hook. When I try to pick a gitmoji or type a commit message the output is repeated on the console. See the screenshot below ..

Again this doesn't happen when I commit with `gitmoji -c`.

**OS**: Windows 10
**gitmoji-cli -v**: 2.0.0
**Node version**: 12.7.0

![screenshot](https://user-images.githubusercontent.com/3

[2019-10-14 20:37] israelKusayev commented on #211
Same to me (windows 10)

[2019-10-23 17:57] #152 closed

[2019-10-24 07:48] SPGoding opened #217 "[Feature Request] Option to disable the scope promt"
Hello @carloscuesta!

I don't use that feature so I have to hit ENTER once to skip that promt each time I commit changes. Could you please add an option to disable the scope promt?

[2019-10-24 08:34] carloscuesta commented on #217
Yes sure! Feel free to send a PR

[2019-10-24 15:07] israelKusayev opened #218 "What is "Enter the scope of current changes" ?"

[2019-10-24 16:45] sleepyfran commented on #218
Came to ask just this. For what I see if you input anything there it'll append it to the tittle like this:
`🔥 (Scope you entered): Title`

So I guess it's the section of your code for which the changes apply? I don't know.

[2019-10-24 23:34] nathan818fr commented on #218
Adding an option to disable it (via the existing `gitmoji --config`) would be nice.
I dont need scopes (and if I really need to specify a scope on few commits I prefer to enter it manually in the title).

[2019-10-25 07:38] carloscuesta commented on #218
It's something that we introduced #139 this idea comes from conventional commits to specify the context of your commit, I think will be good to disable this by default and add it as an option

[2019-10-25 07:41] carloscuesta commented on #218
Fixed on the new release!

[2019-10-25 07:41] #218 closed

[2019-11-04 16:53] tolerious commented on #49
it's not work for me.

![image](https://user-images.githubusercontent.com/2922120/68140404-b7fbf280-ff66-11e9-8eaf-d232b0ead347.png)

[2019-11-04 17:54] danicrg opened #223 "Stuck in Mac Terminal due to using the hook and gitmoji -c"
Hello @carloscuesta!

I'm using your awesome repo to spice up my commits. But when I use it in Mac Terminal it doesn't get out of the gitmoji -c command. It gets stuck and I need to do ^C.

Issue:

**OS**: MacOS Mojave
**gitmoji -v**: 2.2.0
**Node version**: 6.9.0

[2019-11-04 19:14] carloscuesta commented on #223
Hey @danicrg

Just tested out with the mac terminal and I am not able to reproduce the error that you say.

It is possible that you have enabled the signed commit option and this is making that the commit never completes ?

What kind of shell are you using ?

[2019-11-05 19:31] danicrg commented on #223
I found that the problem happens because I initialized gitmoji as a commit hook. Then, when using gitmoji -c it gets stuck.

So, to reproduce the problem you should do:

[2019-11-05 21:39] ceIia commented on #223
Can confirm, same issue here using `gitmoji -c` after using `gitmoji -i`. MacOS Catalina 10.15.1 -- see attached gif.

![gitmogif](https://user-images.githubusercontent.com/25929147/68248416-11265d80-001d-11ea-93a2-356b0fcbb7bc.gif)

[2019-11-05 23:00] carloscuesta commented on #223
Yes that’s because you don’t need to use the hook if you’re going to commit with the client.

The hook is for commiting using git commit as normally you would do. Maybe it’s worth to take a guess about this behaviour

In fact this problem which I weren’t aware of at the moment of writing the issue has been reported by another users previously and the problem was the same the hook.

Not quite sure

[2019-11-06 06:41] tolerious opened #224 "Stuck in terminal, command timeout."
Hello @carloscuesta!

Issue:
`gitmoji -l` command got stuck,  and the emoji can not show.

**OS**: windows 7
**gitmoji-cli -v**:2.2.0
**Node version**:v12.13.0

**Error Message**:

![image](https://user-images.githubusercontent.com/2922120/68274232-89376680-00a3-11ea-9a4a-2f00697f7243.png)

and then I create a  `gitmojis.json` file. but it didn't work at all.
![image](https://user-images.githubuse

[2019-11-06 10:36] carloscuesta commented on #224
The command you're pointing to is `gitmoji -c` right?

Since you don't have any emoji I'm assuming that the fetch failed. Please try to run `gitmoji -u` and see the result of the command, it must likely be a problem with network

[2019-11-06 11:01] tolerious commented on #224
Yes， I am pointing to the command `gitmoji -c`, now I tried this command `gitmoji -u`, and got this output.

![image](https://user-images.githubusercontent.com/2922120/68292932-daf1e800-00c7-11ea-9046-844ad2399c27.png)

[2019-11-06 11:02] tolerious commented on #224
How can I check the network is ok?

[2019-11-06 11:05] tolerious commented on #224
And run this command `ping raw.githubusercontent.com` got  `request timeout`.

[2019-11-06 11:13] tolerious commented on #224
#49 #152     I refered to these  issues.

[2019-11-06 15:40] carloscuesta commented on #224
Seems like you're having problems because your network can't contact to the `raw.githubusercontent.com` host

Are you using some kind of proxy or something like that ?

[2019-11-06 15:44] carloscuesta commented on #223
As a solution, on #222 I'll implement a check that if you're trying to commit with `gitmoji -c` with the hook file created will point out the issue

[2019-11-06 17:19] tolerious commented on #224
I am in China, so I am blocked to this website, but I used a VPN, and also can not reach the `raw.githubusercontent.com` at all.

[2019-11-06 20:40] carloscuesta commented on #224
That's not cool! 😞

Yup, seems like whole GitHub is blocked on China 🇨🇳. Problem is still with your VPN, since you can't reach GitHub.

Sorry I can't help but I don't think I could do much more here

Thanks! 🙏

[2019-11-06 20:40] #224 closed

[2019-11-06 21:08] #223 closed

[2019-11-06 21:43] carloscuesta commented on #211
Hey @HusamIbrahim @israelKusayev

Can you confirm is this still happening at `3.0.0` ?

Thanks

[2019-11-09 15:13] HusamIbrahim commented on #211
Yes I can confirm this is still happening in `3.0.0`.

[2019-11-10 11:11] carloscuesta commented on #211
If you say that with `gitmoji -c` you don’t have any problems it must be something related with this I suppose

https://github.com/carloscuesta/gitmoji-cli/blob/77b4e56e6f0252a2a8ad0b8afae59491d13b0ec2/src/commands/commit/withHook/index.js#L12

Unfortunately I do not have a Windows machine to test this on. So I can’t reproduce this bug 😕

[2019-11-10 15:52] SPGoding opened #226 "Test faild on Windows."
Hello @carloscuesta!

The test `test/utils/emojisCache.spec.js` will fail if it is ran on Windows because of the directory sep symbol.

**Issue:**
0. Run `npm t` on Windows.

**OS**: Windows 10
**gitmoji-cli -v**: 3.0.0
**Node version**: 10.16.0

**Error Message**:
![image](https://user-images.githubusercontent.com/15277496/68546753-ecfbbf80-0414-11ea-883c-3f1ef7318725.png)

[2019-11-10 16:37] carloscuesta commented on #148
Just checking this out, I'm a little bit confused, what do you mean by

The cli itself does not fails when including double quotes on the commit message or title

[2019-11-10 16:39] carloscuesta commented on #226
Thanks for reporting this @SPGoding

Windows.. 😵

[2019-11-10 16:40] #226 closed

[2019-11-13 04:27] nitaking opened #233 "Suggestion: Why not convert to Typescript?"
Hello @carloscuesta!

I will contribute to this library in the future.
(I built a similar library with TS.: https://github.com/nitaking/gitmoji-c)
But this library is written in js. I thought it was subtle.　

Are you considering building with ts (ts-node)?

[2019-11-13 07:54] carloscuesta commented on #233
@nitaking

At the moment I’m not interested in moving the project to TypeScript. I think that Flow is enough to add type checks.

Btw I saw the clone that you’ve posted. If you’re not interested in using GOG you just need to disable this option through the `gitmoji -g` command. There’s no need to maintain an own fork for that see

https://github.com/carloscuesta/gitmoji-cli#config

[2019-11-13 07:54] #233 closed

[2019-11-15 08:59] nitaking commented on #233
I see, thanks for your reply!

This was created before the gpg settings could be changed in config.

I will decide whether to keep it according to my future needs and the policy of this repository.

[2019-11-15 10:55] carloscuesta commented on #233
Cool! Feel free to keep the fork 😊

[2019-11-21 02:51] HarborZeng opened #240 "Error when executing gitmoji --init"
Hello @carloscuesta!

When executing `gitmoji --init`

an error message was showed:

[code]

Issue:

It's my first time to install and use this npm package

**OS**:

PRETTY_NAME="Deepin 15"
NAME="Deepin"
VERSION_ID="15.11"
VERSION="15.11"
ID=deepin
HOME_URL="https://www.deepin.org/"
BUG_REPORT_URL="http://feedback.deepin.org/feedback/"

**gitmoji-cli -v**: 3.0.0
**Node version**: v12.13.0
**git ve

[2019-11-21 08:03] carloscuesta commented on #240
Hey @HarborZeng

Are you executing the init commit inside a git repository?

[2019-11-21 08:44] HarborZeng commented on #240
No, I executed `gitmoji --init` in my user home dir: `~`.

I executed `git rev-parse --absolute-git-dir`, and the raw output is below:

[code]

That's Chinese, I translated it below FYI:

[code]

And then I realized that I should execute `gitmoji -i` in a repo, so I did that, but still the hook not worked.

[code]

Well, you can see the commit procedure is not hooked.

[2019-12-01 11:09] VisonM commented on #224
I opened vpn and run gitmoji -l in the terminal. but terminal output network timed out. Then I closed vpn and run again it worked, it was amazing

[2019-12-11 15:22] Olyno opened #253 "[question] Emojis unicode not supported on Windows CMD"
Hello @carloscuesta!

**Issue:**
Impossible to get emojis unicode in command line of Windows. Any solution to fix that?

![Screenshot of emojis unicode render](https://i.imgur.com/H0xoGHV.png)

**OS**: Windows 10
**gitmoji-cli -v**: 3.0.0
**Node version**: 13.3.0

[2019-12-11 15:39] Olyno commented on #253
**Solved:**

To anyone who has the same issue, install [Chocolatey](https://chocolatey.org/) and execute this command in your terminal:

[code]

After that, just search "terminal" and open the new one you downloaded.

[2019-12-11 15:39] #253 closed

[2019-12-12 01:22] astromonkee commented on #240
Hi @HarborZeng, @carloscuesta
I got the same issue. Manually creating the `.git/hooks` folder first before running `gitmoji -i` resolved it for me.

[2019-12-12 06:21] HarborZeng commented on #240
Hi, thanks for sharing the solution with us, but did you create the folder in you `home` dir? Because I did what you suggested in my `~` directory , and it didn't work still.

[2019-12-12 07:51] astromonkee commented on #240
@HarborZeng,
No, I created it in the `.git` folder on my repository's root folder.

[2019-12-13 12:42] carloscuesta commented on #240
@HarborZeng The `gitmoji --init` command should be executed on a git repository not the `~` directory, that's the problem!

[2019-12-13 12:42] #240 closed

[2019-12-13 22:16] ulisesantana opened #255 "git commit hook on v3 requires to use -m"
Hello @carloscuesta 😎!

I just installed the new version for the CLI and if I try `git commit` the gitmoji CLI will starts and once I fill up the form an error is showed in the terminal.

However, if you just give some message to the commit `git commit -m "foo"` then the CLI works and the final message is the one you put on the CLI form.

**OS**: macOS Catalina 10.15.2
**gitmoji-cli -v**: 3.0.0
**

[2019-12-17 09:43] metalelf0 opened #260 "Font used in the screenshots?"
Hello @carloscuesta!

I'd just like to ask what font are you using in this repo screenshots. Maybe adding it to the README would be a good idea, I've checked your dotfiles but couldn't find a reference. Thanks and keep up the great work! :)

[2019-12-17 10:48] egonny commented on #131
This is a bug in the `inquirer.js` dependency, see https://github.com/SBoudrias/Inquirer.js/issues/793

[2019-12-17 11:52] metalelf0 commented on #260
Found out it's consolas with some spacing adjustements. Sorry ;)

[2019-12-17 11:52] #260 closed

[2019-12-21 17:36] carloscuesta commented on #255
Hey @ulisesantana

I can't reproduce your error,

<img width="1440" alt="Screenshot 2019-12-21 at 18 36 03" src="https://user-images.githubusercontent.com/7629661/71311633-cae85a80-2420-11ea-878d-af0897778518.png">

Could be this a problem with your enviornment configuration ?

Seems that your git is trying to launch the `code` editor to edit the commit message

[2019-12-21 17:39] #255 closed

[2019-12-21 17:40] carloscuesta commented on #211
Yup that's an inquirer.js bug https://github.com/SBoudrias/Inquirer.js/issues/793

[2019-12-21 17:40] #211 closed

[2019-12-23 06:53] eli-symbolab opened #266 "ctrl-c skip gitmoji prompts stopped working in 3.0.1"
Hello @carloscuesta!

hi! Thank you for this cool and useful program. I installed the latest 3.0.1 and noticed that the previous behavior of pressing ctrl-c to skip the gitmoji prompt has stopped working. Rolling back to 3.0.0 restored the behavior.

Issue:

Perform a git merge as usual
Run `git commit`, when a gitmoji-cli hook has been installed
The gitmoji prompt appears.
Press ctrl-c
_Expected_

[2019-12-23 08:52] carloscuesta commented on #266
That should have been caused for one of the dependencies we bumped on `3.0.1`

[2019-12-24 09:06] momocow opened #269 "Commit failed due to multiple -m options in the command"
Hello @carloscuesta!

Issue:
It seems weird that the command generated by gitmoji includes multiple `-m` options.
It is not related to any specific messages, every commit just failed with different messages.

**OS**: Windows 10
**gitmoji-cli -v**: 3.0.1
**Node version**: 12.7.0

**Error Message**:
[code]

[2019-12-24 09:58] momocow commented on #269
It works fine after I restarted vscode (also a new terminal window). 😂

[2019-12-25 16:00] carloscuesta commented on #269
The second -m is for the commit message. If you can’t provide a reproducible example I can’t work on a fix

Thanks!

[2019-12-25 16:00] #269 closed

[2019-12-27 02:42] SnowFlowers opened #271 "failed, reason: connect ECONNREFUSED 151.101.228.133:443"
Hello @carloscuesta!

Issue:

request to https://raw.githubusercontent.com/carloscuesta/gitmoji/master/src/data/gitmojis.json failed.
**OS**: macos
**gitmoji-cli -v**: gitmoji -c
**Node version**: 8.9

**Error Message**:
connect ECONNREFUSED 151.101.228.133:443

![image](https://user-images.githubusercontent.com/16875486/71497980-7bc57e00-2895-11ea-9735-185a0e61d0fb.png)

[2019-12-27 08:32] carloscuesta commented on #271
Hey I think the error clearly points what's the problem, are you from China ?

If the answer is yes this is the problem: https://github.com/carloscuesta/gitmoji-cli/issues/224#issuecomment-550491035

[2019-12-27 08:32] #271 closed

[2020-01-02 14:38] KsRyY opened #273 "Precommit hook detection conflicts with husky"
Hello @carloscuesta!

Issue:

I've setup `husky` and `lint-staged` to check my code before commit, but when I tried to use `gitmoji -c` in that project, it said that I need to remove the hooks in order to use `gitmoji -c`. Is there any way to intergrate this with `husky`?

**OS**: WSL Ubuntu 19.10 (manually updated from 18.04)
**gitmoji-cli -v**: 3.0.1
**Node version**: 12.13.1

[2020-01-03 13:16] dudongdaoqi commented on #64
@muwoo Thanks！ It works for me！

[2020-01-03 21:15] A1rPun commented on #97
I think you have the following options:

- Keep track of a `CHANGELOG.md` in the `gitmoji` repo. Users can track which entries have been added or changed.
- Add a `version` property to every entry and add them to `gitmoji -l`. Not ideal when dealing with changed entries.
- Drop `gitmoji -u` entirely and let users update with `npm i (-g) gitmoji-cli`. This will radically discard any issues about th

[2020-01-05 10:34] Addono commented on #59
Gave this one a shot, progress can be found [here](https://github.com/Addono/gitmoji-cli/tree/feature/local_config). Not really happy about it, as detecting the current git repository is done async, hence retrieving `config` from `configurationVault` becomes async changing the interface it exposes.

In my attempt I assumed that it would be undesirable to use another library for config handling, as

[2020-01-06 13:41] KsRyY commented on #273
@carloscuesta

[2020-01-06 17:47] carloscuesta commented on #273
Fixed in #254

[2020-01-06 17:47] #273 closed

[2020-01-09 07:12] eli-symbolab commented on #266
This behavior is reproducible in 3.1.0 as well.

[2020-01-09 09:51] tadejs commented on #266
I confirm on 3.1.0 on Ubuntu 18.04 as well. I was relying on this behavior to make `git commit --amend` work without needing to retype the commit message. Is there any "official" way to skip the dialogue on commit?

[2020-01-10 08:32] gaoryrt opened #276 "timedPromise.finally is not a function"
Hello @carloscuesta!

When I finished messaging `gitmoji -c`, I got such message:
`timedPromise.finally is not a function`
Issue:

0. update gitmoji-cli to v3.1.0, I didn't encounter this issue in v3.0.0
1. set `alias gac="git add . && gitmoji -c"`
2. `gac`
3. fill all the blanks and press enter

**OS**: macOS Mojave 10.14.3
**gitmoji-cli -v**: 3.1.0
**Node version**: 8.12.0

[code]

**Error Messa

[2020-01-10 09:16] carloscuesta commented on #276
Hey @gaoryrt

Thanks for reporting the issue,

Could you run the following command to see if that is the problem ?

[code]

Can't reproduce your error 😕

<img width="605" alt="Screenshot 2020-01-10 at 10 15 33" src="https://user-images.githubusercontent.com/7629661/72141015-48edb080-3392-11ea-8e94-34f7bea404af.png">

[2020-01-10 09:19] carloscuesta commented on #276
Also, now that I see that you're using `node@8`, minimum required version of node for this package is 10, so that could be the problem too.

https://github.com/carloscuesta/gitmoji-cli/blob/master/package.json#L6

[2020-01-10 10:07] gaoryrt commented on #276
No more issue when I switch to node@10, so that's it.
I use `yarn --ignore-engines` when I install `gitmoji-cli` globally to avoid warning, I think I should use `--ignore-engines` carefully.
Thank you @carloscuesta .

[2020-01-10 10:07] #276 closed

[2020-01-23 05:37] BenjaminWolfe opened #291 "[Feature Request] Add --verbose option"
Hi @carloscuesta!

I love `gitmoji` and `gitmoji-cli`. Thank you for making it happen.

I have my own pre-commit hook that makes changes to files and messages the user in the process, so that there's a record and some awareness of what's changed.

I'll admit the _way_ I do it is a bit hacky; I know R far better than I know bash, so I have the pre-commit hook call R to run a script. But it gets the

[2020-02-01 11:10] #91 closed

[2020-02-01 11:13] carloscuesta commented on #148
Closing this since I was not able to reproduce it 😕

<img width="1440" alt="Screenshot 2020-02-01 at 12 13 31" src="https://user-images.githubusercontent.com/7629661/73591220-493e1f00-44ec-11ea-90eb-047bf57e07db.png">

[2020-02-01 11:13] #148 closed

[2020-02-01 11:16] #147 closed

[2020-02-02 11:08] erikhuizinga opened #302 "Fuzzy search should sort more intelligently / by relevance"
Hello @carloscuesta!

Fuzzy search, introduced by 🔖 v3.2.0 🎉 (thanks, awesome feature!), shows search results in a seemingly strange order.

Issue:

 1. `gitmoji -c`
 1. Start typing 'test' (to find ✅) character by character:
    1. ![image](https://user-images.githubusercontent.com/19374736/73607227-d7310d00-45b3-11ea-80f4-2f93db7edc88.png)
    1. ![image](https://user-images.githubusercontent.co

[2020-02-02 12:50] adriencaccia commented on #302
Hey @erikhuizinga, thanks for the issue !
I submitted #303 to try and improve the search.

[2020-02-03 09:34] eli-symbolab commented on #266
Same behavior in 3.2.0.

[2020-02-03 09:55] #302 closed

[2020-02-08 17:08] ewen-lbh opened #305 "Add --graph=GRAPH_TYPE option"
Hello @carloscuesta :sunglasses:!
I made a [little python script](https://github.com/ewen-lbh/gitmoji-commits-graphs) that generates a bar chart from a repo, using commit titles to see the distribution of commit types, using the emoji.
I wrote it today, and the code is a bit messy, but I feel like implementing something like this in gitmoji-cli would be interesting!
I would use a new flag `--graph

[2020-02-14 11:07] eorahil commented on #131
you can install powershell for linux in order to reproduce the problem

[2020-02-24 13:17] Tydax commented on #266
At first I thought it was a new feature rather than a bug that I was about to ask about because I find it annoying for amending commits and rebasing 😅 . Thank you for reporting this.

Same behaviour in 3.2.1.

[2020-02-24 14:02] carloscuesta commented on #266
As I pointed out this should be the reason for the problem: https://github.com/carloscuesta/gitmoji-cli/issues/266#issuecomment-568406983 if anyone is willing to take a look I would really appreciate it! 🙏

[2020-02-29 21:53] ghostsquad commented on #150
make the behavior configurable, both as a default in the config file, but also an overriding flag.

### Implementation

use `VISUAL` or `EDITOR` environment variables to find the program to open to write the commit message, with a hardcoded fallback to `vi`.

To maintain backwards compatibility, without flags, support single line messages (kind of like `git -m`).

If you pass `--edit` you'll be dr

[2020-03-01 15:16] Addono opened #313 "Hook skipped when committing Git's verbose flag enabled"
Hello @carloscuesta!

Gitmoji hook doesn't activate when committing with Git commit verbose flag (`-v` or `--verbose`) enabled.

Issue:
Behavior can be reproduced by running `git commit -v` on a repository with the Gitmoji hook enabled. Now, the default commit message editor will be shown instead of the one from Gitmoji CLI.

**OS**: MacOS
**gitmoji-cli -v**: 3.2.1
**Node version**: 12.16.1

Root

[2020-03-01 17:42] Addono commented on #313
For context, I started running into this issue when my Git aliases default to using the verbose flag - which I appreciate for committing on projects not using Gitmoji.

[2020-03-09 10:37] yogeshvar opened #324 "Program breaks while using `gitmoji -c`"
Hello @carloscuesta!

Issue:
Exit 1 while using `gitmoji -c`
Please find the attachment given below.
[code]

**OS**:
**gitmoji-cli -v**: 3.2.1
**Node version**: v12.13.1

**Error Message**:

![image](https://user-images.githubusercontent.com/17572818/76204217-f9a2ef80-621d-11ea-968f-b9bf875b2b03.png)

[2020-03-09 12:39] D0C702WH0 commented on #324
Same behavior here

Gitmoji Version: 3.2.1
Node Version : v13.8.0

[2020-03-09 15:00] alexislefebvre opened #325 "Slow down GIF demo"
Hello @carloscuesta!

The demo as a GIF is nice, but I find it too fast to have time to understand what is happening.

Issue:

Here is current version of the .gif:

I think that actions go too fast.

Is it possible to add a little delay between each input?

**OS**:
**gitmoji-cli -v**: -
**Node version**: -

**Error Message**:
-

[2020-03-09 18:48] gustavopch commented on #324
Same behavior.

Gitmoji: both v3.2.0 and v3.2.1.
Node: both v10.19.0 and v12.16.1.

[code]

Probably not related, but I started to have this issue after replacing https://github.com/nvm-sh/nvm with http://npm.im/n.

Gitmoji v3.1.0 works fine tho.

[2020-03-10 09:18] carloscuesta commented on #324
This must be related by #303 @adriencaccia. I'll try to take a look at this

[2020-03-10 09:25] carloscuesta commented on #313
That was introduced in #247. Going to merge your PR now ❤️

[2020-03-10 09:26] #313 closed

[2020-03-10 10:50] thomasbrodusch opened #328 "Add a new setting to customize commit message pattern"
Hello @carloscuesta!

Sometimes, git commit convention used by some companies differ from gitmoji-cli commit template. For exemple, in my company, we need to put issue's ID in commit title placed before the emoji.

It would be awesome if we added a new gitmoji-cli's settings option to define commit message template:

By default:
[code]
Custom setting
[code]
What do you think about it @carloscuesta

[2020-03-10 11:05] yupswing commented on #324
I'm experiencing the same behavior:

[code]
(note: I'm using `nodenv`)

Error with `-c`, `-i` or `-s`; `-l` is fine, probably because there is no `search`.

[code]

[2020-03-10 20:56] carloscuesta commented on #328
Hey @thomasbrodusch

Thanks for your suggestion. I would prefer not adding this as a feature since I think we’re allowing too much configurations and I would prefer to make fewer things and better that a lot of them for now

Thanks!

[2020-03-10 20:56] #328 closed

[2020-03-10 20:57] carloscuesta commented on #325
Hey @alexislefebvre

You can read the docs and screenshots to understand the whole process

Thanks!

[2020-03-10 20:57] #325 closed

[2020-03-10 22:03] xItsDanger commented on #324
Same happens to me, ill try to find something in the commit @carloscuesta mentioned

[2020-03-10 22:12] xItsDanger commented on #324
I tried gitmoji 3.2.0, gives the same error. 3.1.0 is fine, so the error has to be from PR #267
Idk if im right, im new to this

[2020-03-10 22:22] xItsDanger commented on #324
I think i almost got it, when the error prompts in cmd, we can see this 2 lines:
[code]

So the error might be coming from filterGitmojis.js, or prompts.js.
I think it can be the filterGitmojis file, beacause it was added when 3.2.0 released
But dont trust me, im novice at this.

[2020-03-11 08:03] #324 closed

[2020-03-11 08:41] carloscuesta commented on #324
Fixed at 3.2.2

Thanks 🎉

[2020-03-11 09:43] yogeshvar commented on #305
💡
We could get all the `emoji.code` from `getEmojis` and run a bash command
`git log --oneline | grep -c ${emoji.code}` to get the count. We can display the stats.

I'm not sure whether it's the ideal way.

@carloscuesta @ewen-lbh  what do you think about this?

[2020-03-11 15:46] xItsDanger opened #330 "gitmoji-cli 3.2.2 showing weird messages in terminal when commiting"
Hello @carloscuesta!

Hi, I updated to 3.2.2, and everything seems to work fine, except some weird messages appearing in my terminal when commiting

Anyways, this isn't important. I can commit changes, but I think this should be fixed

This is my terminal log:

[code]

**OS**: Ubuntu 19.10
**gitmoji-cli -v**: 3.2.2
**Node version**: 12.16.1

**Error Message**: None

[2020-03-11 16:18] Larandar opened #331 "CLI can't query gitmoji list"
Hello @carloscuesta!

When using any command that makes a query the CLI crash with the following message.

**OS**: Ubuntu (WSL)
**gitmoji-cli -v**: 3.2.1 or 3.2.2 (--version show different version from npm)
**Node version**: 13.10.1

**Error Message**:
[code]

![image](https://user-images.githubusercontent.com/906021/76439189-50463000-63bc-11ea-91fb-513d78778ebb.png)

[2020-03-11 16:32] carloscuesta commented on #330
Looks like a syntax issue on the hook 😅

[2020-03-11 16:37] carloscuesta commented on #331
Hello @Larandar seems that you have two different versions installed.

This was fixed on 3.2.2 at #329, please uninstall both versions and make sure you are using the last one

Thanks!

[2020-03-11 16:37] #331 closed

[2020-03-11 16:38] carloscuesta commented on #305
Hey @ewen-lbh thanks for your suggestion!

Currently I prefer not adding new features like this to the cli!

Thanks!

[2020-03-11 16:38] #305 closed

[2020-03-11 16:45] carloscuesta commented on #330
I'm going to revert the changes we made into the hook, since it's a delicate thing to change

[2020-03-11 16:45] carloscuesta commented on #330
https://github.com/carloscuesta/gitmoji-cli/commit/c668e779d4866188c7fe8a3b7be8d56309e065d0

[2020-03-11 16:45] #330 closed

[2020-03-11 17:06] xItsDanger commented on #330
Now working! Thank you!

[2020-03-12 10:49] Addono commented on #330
Hmm, my bad 😞 The changes I made to the hook script were using some extensions to the POSIX shell, which are only supported in shells like bash and zsh. It is not reproducible on MacOS as MacOS defaults to using a shell with extended POSIX support.

https://github.com/carloscuesta/gitmoji-cli/blob/8f71bff1561b180cd25c8bb734c77adf154d8bf7/src/commands/hook/hook.js#L5
This shebang should be replaced

[2020-03-12 19:18] xItsDanger opened #332 "Command line stucks when commiting with "gitmoji -c""
Hello @carloscuesta!

Hi, it's me again. I'm having some troubles when commiting with gitmoji -c. It works well untill i write the commit message. Then, it just freezes. Commiting with "git commit" with the hook works tho. I've tried "CTRL+C" and it returns some json structure i will add below.

Issue:

My logs:
[code]
But when doing "CTRL+C", this appears:
[code]

**OS**: Ubuntu 19.10
**gitmoji-c

[2020-03-13 08:24] carloscuesta commented on #332
Could be this related with #266 ?

By the way if you're using the hook, you may find some problems if you try to commit with the `gitmoji -c` command. You have to pick one of both options.

Try to clear the hook and try again

[2020-03-13 21:30] xItsDanger commented on #332
You were right. Removing the hook was the solution.
PD: I created an alias for adding, commiting and pushing all changes at once with gitmoji, if anybody wants to use it too just:
1. Acess you bash file (.bashrc, .zhsrc...)
2. Add this line: `alias commit="gitmoji -c && git push"`

PD: You need to have enabled the automatic git add . at the gitmoji config, if you dont want to enable it just replac

[2020-03-13 21:30] #332 closed

[2020-03-17 11:18] gensjaak opened #334 "gpg error with 3.2.3 cli version"
Hello @carloscuesta!

I've updated gitmoji-cli to latest version this morning (3.2.3) and got this error when trying to commit.

Issue:
1. Update cli to latest version (3.2.3) at this date
2. Try to commit

**OS**: macOS Mojave 10.14.6 (18G103)
**gitmoji-cli -v**: 3.2.3
**Node version**: v12.14.1

**Error Message**:
[code]

[2020-03-17 12:19] carloscuesta commented on #334
Hey @gensjaak

I'm pretty sure this is not related with gitmoji-cli. Did you tried to commit without the cli to see If you have the same error ?

Try this:

[code]

[2020-03-17 12:21] #334 closed

[2020-03-21 02:34] JiangWeixian opened #335 "can not use with lerna publish"
Hello @carloscuesta!

if git repo init with lerna, i can't use `lerna publish`

Issue:

to make `lerna publish` work again

- i have to `gitmoji -r`
- then use `lerna publish`

**OS**: macos
**gitmoji-cli -v**: 3.2.3
**Node version**: 12.4.1

[code]

[2020-04-03 09:04] flassagne opened #345 "gitmoji -c don't run pre-commit hooks"
Hello @carloscuesta!

If a use gitmoji-cli with `-c` option my pre-commit hooks are not used.

Issue:

* install a pre-commit
* do some updates
* commit them with `gitmoji -c`

**OS**: debian 10
**gitmoji-cli -v**: 3.2.3

**Node version**: v10.15.3

[2020-04-03 16:13] carloscuesta commented on #345
Could you provide a reproduction case?

Thanks

[2020-04-05 09:08] flassagne commented on #345
Hi @carloscuesta ,

I already did but I send you a complete example:

# First install a pre-commit hook in your repository

[code]

# Do some updates

[code]
# Commit then

## If I use `git commit` you see the hook execution

[code]
## If I use `gitmoji -c` you don't see the hook execution

[code]

[2020-04-05 09:10] carloscuesta commented on #345
Sorry I mean the repository youre having trouble with. Because I use gitmoji -c with precommit hooks and had no problems

[2020-04-05 10:38] flassagne commented on #345
I think it's more a logging issue. When I use `gitmoji -c` my hook had run but I didn't see any logs.
It's maybe due to `execa` lib

[2020-04-06 07:32] carloscuesta commented on #345
Then, you don't have troubles when runnings hooks, but the logging that they provide you

[2020-04-06 07:33] carloscuesta commented on #345
I don't see problems with logging too, I'm going to close this if you can't provide a reproduction repository since I can't fix this

Thanks!

[2020-04-06 07:33] #345 closed

[2020-04-07 08:15] JiangWeixian commented on #335
same error with np - https://www.npmjs.com/package/np

[2020-04-09 16:02] carloscuesta commented on #335
Hey @JiangWeixian can you provide a reproduction repository ?

Thanks

[2020-04-09 16:02] carloscuesta commented on #335
As you can see on the console, the gitmoji-cli is prompting you the following error:

[code]

[code]

You should provide right values for those options

That's the problem!

[2020-04-09 16:02] #335 closed

[2020-04-22 15:16] ThoughtZer commented on #224
just windows？how is it now？

[2020-04-26 10:17] #266 closed

[2020-04-27 19:51] Jeremie-Chauvel commented on #197
Hi @ilaborie,

as gitmoji-cli is using the hook `prepare-commit-msg`, it's [not possible to access git commit arguments](https://git-scm.com/docs/githooks#_prepare_commit_msg). Sadly that means not being able to keep the --no-edit behavior.

We can however detect if we are amending a commit, which means we could prevent the hook from being used in this case.

@carloscuesta This issue is quite old,

[2020-04-27 19:56] Jeremie-Chauvel commented on #291
I second this, gitmoji-cli eats hooks outputs which can complicate understanding what's happening (cli looks blocked).
Instead of a verbose option, I would recommended a stricter handle of stderr/stdout to avoid blocking other hooks outputs.

[2020-04-27 19:59] ilaborie commented on #197
Thanks,
Ok to close the issue without doing anythings,
I'm not sure that the amending detection is a good idea.

[2020-04-27 19:59] #197 closed

[2020-04-28 16:06] Jeremie-Chauvel commented on #197
btw you can ctrl-c to pass to hook for faster no-edit

[2020-05-02 10:14] igorwessel opened #367 "[Feature] Change position of emoji in mode client."
Hello @carloscuesta!

Thank you for this CLI is perfect, I missed felt some setting to leave the emoji at the beginning or end of the message, i managed to create the feature but it only makes the commit command after pressing CTRL + C

![Captura de tela de 2020-05-01 20-34-58](https://user-images.githubusercontent.com/54173994/80861286-005d4a00-8c44-11ea-8307-d6e3d5c66473.png)

I know we can use

[2020-05-02 22:42] carloscuesta commented on #367
Hey @igorwessel the whole convention is built up with appending the emoji as the first character in order to know the purpose of the commit. I don't think we want to give the option to place it at the end!

Thanks!

[2020-05-02 22:42] #367 closed

[2020-05-05 23:32] mrguilima commented on #64
I was stuck with this message for some time:

error: could not close '/home/lima/work/geantx/.git/index.lock'
fatal: unable to write new index file

In my case, I had ran out of quota.  Once I cleaned up some files in other areas, git was back to normal!
I hope this is useful for others.

[2020-05-11 13:22] Clebiez opened #376 "Idea : Create a release note based on git history"
Hello @carloscuesta!
Thank you for this repo 👍

What about creating a command to take a list of commit and transform it into a release note (Features, bugs, enhancements, stacked together) ?

The command should parse the list of commits from HEAD until a hash or another branch / tag ?

[2020-05-17 04:00] Thinking80s opened #377 "SyntaxError: Unexpected token ..."
Hello @carloscuesta!

Issue:

![image](https://user-images.githubusercontent.com/338079/82135490-e58af800-9835-11ea-86a7-e4f46b2d271f.png)

node : 6.5.0
**OS**:
**gitmoji-cli -v**:
**Node version**:

**Error Message**:
SyntaxError: Unexpected token ...

[2020-05-17 08:19] eli-symbolab commented on #266
Thank you all!!!!!

[2020-05-17 10:34] carloscuesta commented on #377
As stated on the release notes, gitmoji-cli v3 dropped support for the Node.js version that you're using

https://github.com/carloscuesta/gitmoji-cli/releases/tag/v3.0.0

[2020-05-17 10:34] #377 closed

[2020-06-16 13:33] realsarm opened #395 "timedPromise.finally is not a function"
Hello @carloscuesta :sunglasses:!

### I can not commit using gitmoji-cli it says
As I initiate hook
`✖ Error: TypeError: Command failed: git rev-parse --absolute-git-dir
timedPromise.finally is not a function`
or this as use -c argument
`? Choose a gitmoji: �  - Improving structure / format of the code.
? Enter the commit title [23/48]: refomat PatientInfo.jsx
? Enter the commit message: reformat

[2020-06-16 13:34] carloscuesta commented on #395
What version of gitmoji-cli are you using ?

[2020-06-16 13:42] realsarm commented on #395
3.2.6

[2020-06-16 13:46] carloscuesta commented on #395
What operating system ?

[2020-06-16 13:47] carloscuesta commented on #395
I can't reproduce your error, could you provide more information about your environment ?

Fill the following template please:

**OS**:
**gitmoji-cli -v**:
**Node version**:

![Screenshot 2020-06-16 at 15 47 00](https://user-images.githubusercontent.com/7629661/84782780-b8726680-afe8-11ea-8637-4589ed2bb9f2.png)

[2020-06-16 13:47] realsarm commented on #395
WSL 1 on Windows 10

[2020-06-16 13:49] realsarm commented on #395
![image](https://user-images.githubusercontent.com/37932944/84782863-d1d1dd80-affd-11ea-8ecd-267eb134579e.png)

[2020-06-16 13:50] realsarm commented on #395
https://user-images.githubusercontent.com/37932944/84783095-178ea600-affe-11ea-993f-235a9887b44c.png)

[2020-06-16 13:53] carloscuesta commented on #395
The minimum required node version for using this package is `10`. You should upgrade your node.js

https://github.com/carloscuesta/gitmoji-cli/blob/master/package.json#L6

[2020-06-16 13:53] #395 closed

[2020-06-16 15:20] realsarm opened #396 "[Feature Request] Integrate spell checking to gitmoji-cli"
[Aspell](http://aspell.net/) can be used or whatever spell checking packages to correct spelling of both title and description automatically

[2020-06-18 09:43] Larandar opened #397 "[Feature discussion] Rebase and --no-edit behaviour with hook"
Hello @carloscuesta!

I would like to reopen issue #197 with a larger discussion because, unfortunately, the current behaviour makes it difficult to use git workflows which are semi-linear or linear and require rebasing.

**Use-case:**

Usually, my workflow requires to branch from master and then rebase before making my MR with both compacting my history and making sure current master changes does

[2020-06-18 11:42] carloscuesta commented on #397
The problem is specifically with the hook right? I use rebase workflow also and have no problems using gitmoji-cli as I would normally do

[2020-06-18 11:47] carloscuesta commented on #397
We have a PR for this but is currently blocked due to: https://github.com/carloscuesta/gitmoji-cli/pull/366#issuecomment-626140318

[2020-06-25 13:04] Zylvian opened #403 ""failed, reason: self signed certificate in certificate chain""
Hello @carloscuesta!

Issue:
```gitmoji -c``` not working because of self-signed certificate in certificate chain.

**OS**: Windows
**gitmoji-cli -v**: 3.2.6
**Node version**:12.18.1

**Error Message**:

[code]

[2020-06-26 20:09] carloscuesta commented on #403
Hey I don't think this issue is related with the cli itself. Seems you're having trouble to connect to `https://raw.githubusercontent.com`

Can you reproduce the problem again ?

If the answer is no, then it was a temporary GitHub problem.

Thanks!

[2020-06-26 20:09] #403 closed

[2020-06-27 04:21] labg94 opened #404 "Interactive prompt config"
Hello @carloscuesta 😎!

There should be an option where the prompt dialogue will not be needed, due usually I use Intellij Commit dialog to make the commits, but then it throws an error due the prompt dialogue, if there any possibility when I do a normal commit it gets de message and then do all gitemoji magic.

even I made a ticket for the jetbrains team: https://intellij-support.jetbrains.com/hc

[2020-06-27 06:29] carloscuesta commented on #404
I think you can solve this by specifying the $EDITOR environment variable on your Shell.

I don’t think we strictly need to change the contents of the hook.

Try to set the following variable on your shell and try again.

[2020-06-27 06:33] #404 closed

[2020-06-27 16:42] labg94 commented on #404
I tried but it did not work 😞, it still shows the same message

[2020-06-27 18:23] carloscuesta commented on #404
Then you'll need to set the EDITOR also as a configuration on your global `gitconfig`

See:

https://stackoverflow.com/questions/2596805/how-do-i-make-git-use-the-editor-of-my-choice-for-commits

[2020-06-27 19:28] labg94 commented on #404
nothing yet,

I still think that what jetbrains team says make sense:
"The error comes from git hook. It seems you have a prepare-commit-msg hook that prompts something on the command line.

But there is no interactive shell is available when git is run by an app (IDEA in this case, but will probably happen when called from other GUI apps too).
That is why the hook fails.

To solve this you can re

[2020-06-27 19:30] carloscuesta commented on #404
Feel free to send a PR if you can figure out the issue!

[2020-06-27 19:32] carloscuesta commented on #404
Brw this cli is meant to be used from a Terminal, not an IDE just in case the purpose of it it’s not understood

[2020-07-06 08:30] babakks opened #414 "Emojis by context"
Hello @carloscuesta!

I've recently gathered a somehow comprehensive context-based table of emojis, that would help a lot a developer to find the right emoji for his/her intent. Have a look, if you would, and see if you can include it as a new feature for the `gitmoji-cli`. Of course, I'm eager to receive any feedback or suggestion.

You can find my post here:
https://dev.to/babakks/emojis-for-bet

[2020-07-14 10:43] yihengli opened #418 "Fetch gitmoji list manually?"
Hello @carloscuesta!

Issue:
Due to a company proxy issue, my linux environment cannot directly run `gitmoji -u`, with a typical timeout error. However, I can `wget https://raw.githubusercontent.com`, thus I tried to directly download the `gitmojis.json` file and put it under `.gitmoji` folder under home.

Then I still got into troubles to run `gitmoji -l`

[code]

wondering if there is way that p

[2020-07-17 03:01] yaohuangguan opened #422 "HELP：usage on CentOS?"
![image](https://user-images.githubusercontent.com/43796777/87743952-c5b78680-c81c-11ea-8e4c-2e0e13286f7e.png)
this is on CentOS, i dont know why gitmoji -i hook gives me a X and gitmoji -c fetching the list hanging....

[2020-07-17 17:36] carloscuesta commented on #422
Hey @yaohuangguan

Thanks for opening an issue, I don't think this is related with `centOS` the real problem should be https://github.com/carloscuesta/gitmoji-cli/issues/224#issuecomment-550491035

[2020-07-17 17:36] #422 closed

[2020-07-17 17:39] carloscuesta commented on #418
Hello @yihengli

That's weird 🤔

If you saved the `.gitmoji/gitmojis.json` file at your `~` directory it should be working.

Let's try something, open up a terminal and execute the following command:

[code]

After the node shell comes in just type

[code]

Make sure the `.gitmoji` folder is inside of that directory!

[2020-07-18 06:39] carloscuesta commented on #418
What permissions have the `.gitmoji` folder and `gitmojis.json` file ?

[2020-07-18 06:58] carloscuesta commented on #418
I figured out the problem.

If you take a look at the `getEmojis` function, you'll see that we're saving the `data.gitmojis` on the `gitmojis.json` file

https://github.com/carloscuesta/gitmoji-cli/blob/41429cea465b3153924c5bb520fd8ba72ec2c94d/src/utils/getEmojis.js#L16-L28

This means you don't need to copy the whole contents that come from

[code]

You need to copy the array without the object,

[2020-07-18 06:58] #418 closed

[2020-07-18 07:02] yihengli commented on #418
This worked, thanks!

[2020-07-24 01:50] JamesHopbourn opened #427 "automatic "git add ." doesn't work"
Hello @carloscuesta!

Issue: automatic "git add ." doesn't work

**OS**: macOS 10.15.5
**gitmoji -v**: 3.2.6
**Node version**: v13.13.0

**Error Message**:
$ gitmoji -g
? Enable automatic "git add ." Yes
? Select how emojis should be used in commits 😄
? Enable signed commits Yes
? Enable scope prompt No

$ gst
On branch master
Your branch is up to date with 'origin/master'.

Changes not staged for

[2020-07-24 07:14] carloscuesta commented on #427
The automatic git add is executed once you launch gitmoji -c

Have you tried in that way?

[2020-07-24 09:27] JamesHopbourn commented on #427
Thanks

[2020-07-24 09:27] #427 closed

[2020-08-01 17:24] leandrokanis commented on #376
There is a package that does it:

https://github.com/frinyvonnick/gitmoji-changelog

[2020-08-01 18:11] carloscuesta commented on #376
Yes as @leandrokanis this is already covered by gitmoji-changelog

[2020-08-01 18:11] #376 closed

[2020-08-01 18:13] carloscuesta commented on #414
Hey @babakks I already discussed this on the gitmoji repo and I don't particularly want to create categories!

Thanks for the suggestion

[2020-08-01 18:13] #414 closed

[2020-08-12 02:30] squidsoup opened #437 "Config option - text mode (boring mode 😞)"
Hello @carloscuesta!

I love gitmoji-cli, and I really appreciate the care you've taken with the UX. Installing and using the tool is a breeze.

My team seems to be embracing conventional commits, which I'm really pleased with. I'd love to share gitmoji-cli with them, however on the whole the consensus in the team is we'd rather not have emojis in commit messages. There's great value in being able

[2020-08-12 06:48] carloscuesta commented on #437
Hey @squidsoup

Thanks for opening the issue!

I would say the whole purpose of the cli is using emojis on commit messages, so makes no sense to introduce a "text" mode for the changes.

I think what you're looking for your team is something like [cz-cli](https://github.com/commitizen/cz-cli) it's a cli similar to gitmoji that allows you to follow the conventional commits standard. This is a bette

[2020-08-12 06:48] #437 closed

[2020-08-12 07:25] squidsoup commented on #437
Thanks @carloscuesta, cz-cli looks perfect.

[2020-08-14 13:27] carloscuesta commented on #396
This is a brilliant idea!

[2020-08-14 13:36] #397 closed

[2020-08-14 13:36] carloscuesta commented on #397
Solved by @Jeremie-Chauvel, I'm releasing it now!

[2020-08-18 05:49] vanwalj opened #444 "Commit hook is not working anymore since 3.2.9 upgrade"
Hello @carloscuesta!

Issue:
whenever I `git commit` I get this error message: `A commit message is already set, cancelling gitmoji`

I was using Gitmoji through the git commit hook, setup with gitmoji -i and everything was working fine but it stoped working after upgrading to 3.2.9

**OS**: macOS 10.15.6 (19G2021)
**gitmoji -v**: 3.2.9 installed via brew
**Node version**: 14.8.0
**Git version**:

[2020-08-18 07:16] carloscuesta commented on #444
That's probably related with the change we introduced at https://github.com/carloscuesta/gitmoji-cli/pull/415 @Jeremie-Chauvel could you take a look at it ? :pray:

[2020-08-18 07:23] oakreef commented on #444
I am also experiencing this this morning. I have no other hooks set up or anything else that would be setting a commit message and when I go to commit it opens up my editor with a blank commit message. Nevertheless gitmoji is displaying the line `A commit message is already set, cancelling gitmoji`

**OS:** Ubuntu 20.04
**gitmoji:** 3.2.9
**Node:** 10.19.0
**Git:** 2.25.1

gitmoji installed via np

[2020-08-18 07:25] carloscuesta commented on #444
Yes I reproduced the error, I'm going to revert #415 and release a new version until we found a fix for that

[2020-08-18 07:28] vanwalj commented on #444
Awesome, thanks for your work btw!

[2020-08-18 07:34] carloscuesta commented on #444
Sorry for the inconvenience 😅

This should been fixed on `3.2.10` which is published right now.

@Jeremie-Chauvel I reverted #415. If you could take a look to fix this regression we could integrate it again on the cli.

[2020-08-18 07:34] #444 closed

[2020-08-18 13:01] Jeremie-Chauvel commented on #444
Hi @carloscuesta
Sorry for the inconvenience, I will look into it.
Might need to drop the current way of detecting no interactive (based on presence of git message) and instead use `git status` or some less clever way of detecting that the hook shouldn't be launched.

[2020-08-19 06:17] quanzhiyuan commented on #224
you can set the hosts file:    151.101.76.133 raw.githubusercontent.com

[2020-08-20 00:23] kylepeeler commented on #115
This would be a great improvement, I rely on seeing the output of my checks, and I get a really nasty error message when my git hook fails.

[2020-08-25 14:04] carloscuesta commented on #291
Definitely this would be a great improvement into the cli.

Would we need to show the output from pre-commit hooks always or only whenever they fail ?

[2020-08-25 14:09] carloscuesta commented on #59
This is a great idea! I'm not sure if it's really valuable for the cli since we do not have a lot of configuration options however I think it's not that difficult to implement.

Priorities for configuration should be obtained from:

- `gitmoji -g` config params
- gitmojirc local file (not using .dotfile format)
- `gitmoji` field on a package.json

[2020-08-25 14:15] carloscuesta commented on #396
Hey @realsarm I think this is a good idea, however I do not see a clear way of implement this into a cli terminal. I'm not considering this for now!

Thanks for your idea ❤️

[2020-08-25 14:15] #396 closed

[2020-08-25 16:51] realsarm commented on #396
It's possible to colorize typos as typing then pressing tab or cmd-space at the end of typos displays a fish shell like suggestion

It's possible also for user to ignore the colorized words

[2020-09-04 14:29] adriencaccia opened #452 "[Feature request] Prefill title and message in hook mode"
Hello @carloscuesta!

When using the hook mode, there is no way to access the previous commits title and message (in my terminal command history for example).
Indeed, I find it very useful to use commands like `git commit -m "Title" -m "Message"`, that way I can quickly access it back in the future using my terminal command history.

In this regard, I propose a feature to prefill title and message

[2020-09-04 14:36] Jeremie-Chauvel commented on #452
I would be very interested in this feature as well

[2020-09-05 11:16] muarachmann commented on #345
Hi, I am having similar issue running with a pre-commit using the version `3.2.9`

 Here is what I get

[code]

Baically I am just verifying the my code with code sniffer in my pre-commit. Any help would be appreciated.

[2020-09-06 16:15] thinh105 commented on #150
Still no way to support multiline?

[2020-09-12 19:09] art049 commented on #452
Currently this missing feature is the only thing preventing me from using gitmoji.
Having to retype the commit message every time is very annoying.
Please take this in consideration @carloscuesta .

[2020-09-14 07:18] carloscuesta commented on #452
Sure I will take a look at the PR

[2020-09-16 14:07] israelKusayev opened #460 "[Feature request] add option to edit last commit"
Hello @carloscuesta!

It would be great if gitmoji-cli could provide an option to edit the last  (unpushed) commit

As we can do: `git commit --amend -m "New commit message"`

[2020-09-16 14:08] israelKusayev commented on #460
`gitmoji -c --amend`

[2020-09-18 15:31] carloscuesta commented on #460
I don't think it's worth to support all those features because we will had to basically replicate all the arguments the `git` command accepts itself.

There's a workaround where we can accept extra arguments as proposed in #192 but I want to kep this cli as simple as possible

Thanks!

[2020-09-18 15:31] #460 closed

[2020-09-18 15:33] carloscuesta commented on #452
PR reviewed, thanks! 😊

[2020-09-19 13:50] #452 closed

[2020-09-20 10:06] Jeremie-Chauvel commented on #291
I would say always, I can take a look when I have some time

[2020-09-20 19:28] carloscuesta commented on #291
Sure @Jeremie-Chauvel we can discuss the implementation of the feature on this issue!

[2020-10-01 01:44] sirgalleto opened #465 "[Feature request]: Add --scope option to gitmoji -c command"
Hello @carloscuesta! I would like to discuss a feature that came to my mind.

# Inspiration

When I'm working on a feature, my team uses certain naming convention where the ticket number is placed, for example:

* feature/ticket-01/add-gitmoji
* fix/ticket-99/fix-bad-emoji

For different branches, I'm usually doing more than one commit, and the process of input the ticket-number as _scope of curre

[2020-10-01 06:18] carloscuesta commented on #465
Hey @sirgalleto

Thanks for opening an issue!

This feature already exists! You can enable the scope prompt via the `gitmoji -g` configuration option.

See:

![Screenshot 2020-10-01 at 08 18 37](https://user-images.githubusercontent.com/7629661/94774699-b88f4a00-03be-11eb-8087-4f1b20c1c38b.png)

![Screenshot 2020-10-01 at 08 18 15](https://user-images.githubusercontent.com/7629661/94774697-b75e1d0

[2020-10-01 16:22] sirgalleto commented on #465
Right @carloscuesta I'm already using it, and my apologies to not explain myself well.

My point with the proposal is to skip this prompt by sending the scope via a command option/environment. Just like `git commit -m "message"` . With this change I'm able to don't repeat myself every-time I'm doing a commit where the scope is accesible programmatically .

Example:

[code]

Result:

[code]

[2020-10-01 18:16] carloscuesta commented on #465
I don't think we should add this to the `-c` option. This option is meant to be interactive, prompting the user for every question and and awaiting for an answer.

If you want to not "repeat yourself" and be more quick with your commits you might want to use the `hook` option which has some defaults enabled based on the arguments that are passed into the command. Maybe we can integrate this as we

[2020-10-02 02:03] sirgalleto commented on #465
The approach at #446 is a great start point to discuss this, it accomplish in another context the same thing I want.

If I understand correctly how #446 works is given a commit file path

1. Extracts the title from the first line.
2. Extracts the message from the second line.

Where in there you think we can store the scope even if you don't input the title and message.

@adriencaccia would you mi

[2020-10-05 11:45] dekadentno opened #468 "[Feature request] Project (local) config with gitmojis specific to that particular project"
Hello @carloscuesta!

The emoji list is really big. It would be nice to have a way to provide a custom emoji list for every project. Currently, the emoji list is taken from [here](https://raw.githubusercontent.com/carloscuesta/gitmoji/master/src/data/gitmojis.json)

**OS**: Ubuntu 20.04.1 LTS
**gitmoji -v**: 3.2.12
**Node version**: 12.18.1

[2020-10-08 13:21] vhoyer opened #469 "[Feature request] Additional keyboard commands for selecting emojis"
Hello @carloscuesta!

Not a bug report, instead: a feature request :D

What do you think of having the `ctrl+j` be equivalent to `ArrowDown` and `ctrl+k` be equivalent to `ArrowUp`?

This would make the selection of emojis easier (for me at least, that uses primarily vim as the main editor) and it also would function the same as [`fzf`](https://github.com/junegunn/fzf).

[2020-10-09 05:47] thedmeyer commented on #44
What happened to this? It seems that `Issue / PR reference #` is no longer part of `gitmoji -c`

@carloscuesta

[2020-10-09 06:24] carloscuesta commented on #44
You can specify it on the message prompt @thedmeyer

[2020-10-09 06:27] thedmeyer commented on #44
That makes sense. However, I was hoping it would enforce a Jira ticket number in the commit message

[2020-10-09 06:49] carloscuesta commented on #44
Not really, you could add it if you want on the message, there's no reason to enforce JIRA/GH issue references on the prompts. Basically under the hood what that prompt made was to set this reference into the message and I wanted to simplify the prompts and configuration options of the cli.

That's why we removed it!

[2020-11-03 15:55] a2br opened #488 "Windows emoji support"
Hello there!
I just discovered gitmoji and its neat CLI. I installed it on my machine (Windows 10), and... well, only 10 emojis of `gitmoji -l` are supported in Windows Terminal. I looked on the internet for a solution, but nothing... Since emojis seem to be your domain, how could I get more emojis on WT? By changing the font? Is that even possible?
Thanks a lot in advance.

[2020-11-03 16:04] carloscuesta commented on #488
Hello @a2br

Unfortunately the last time I used a Windows machine was 11 years ago 😓

I'm sure that you can change the font that is used to render Emojis on the Windows Terminal, however I can't give you any specific advice and insights about how to do this, maybe you can find some support on StackOverflow or sites like that!

Hope this link could help you!

https://docs.microsoft.com/en-us/window

[2020-11-03 16:04] #488 closed

[2020-11-22 13:18] franciscocandido opened #492 "Problem with signed commits"
Hello @carloscuesta!

I'am having a problem with signed commits.

Issue:
After doing some tests, I found that the error happens when the "signed commits" option is enabled.
Just run `git add .` and `gitmoji -c`, fill all the fields and execute the commit.

**OS**: Linux Mint 20
**gitmoji -v**: 3.2.12
**Node version**: 14.15.1

**Command failed with exit code 128: git commit -S -m 🎉 init -m**:

![2

[2020-11-22 14:22] carloscuesta commented on #492
That's probably because you don't have the GPG signing set up in your computer, then you can't write signed commits.

See this comment: https://github.com/carloscuesta/gitmoji-cli/issues/334#issuecomment-600040101

Not a problem with the cli itself

Thanks for opening the issue

[2020-11-22 14:22] #492 closed

[2020-11-22 19:55] jenewland1999 commented on #93
@carloscuesta This is still very much an issue with `gitmoji-cli` v3.2.12 and `node` v15.2.1. Using the example on the `inquirer-autocomplete-prompt` repo it doesn't appear to have any issues on Windows. It only seems to relate to the git hook. Perhaps there is something specific to how code around the hook works as opposed to executing it through `gitmoji -c`

Here's a demo:

![6w4VOCd24x](https:

[2020-11-22 19:57] jenewland1999 commented on #93
I'm more than happy to help troubleshoot this issue further if you want to try anything just let me know. I will perhaps be able to look into this more when I have more time on my hands.

[2020-11-22 19:58] carloscuesta commented on #93
@jenewland1999 I do not own a Windows machine so it's very difficult for me to debug this.

If anyone who uses Windows is up on investigating this feel free to open a PR

[2020-11-28 12:39] sofianegargouri opened #497 "Hook conflicting with npm version"
Hello @carloscuesta!

Issue:

I'm starting to use yarn / npm versions to automagically update my package version and publish a tag on Git. However, the gitmoji hook prevents me to do so without having to `Ctrl + C` multiple times.

Example:
[code]

This only happens when the gitmoji hook is enabled. If I remove it, everything works flawlessly

**OS**: Mac OS Big Sur
**gitmoji -v**: 3.2.12
**Node v

[2020-11-28 12:43] carloscuesta commented on #497
I think we should implement something similar to https://github.com/carloscuesta/gitmoji-cli/pull/445

Seems that the hook is running up on the `Ammending` step and that's why you need to cancel it manually

[2020-12-04 16:45] pixelbrackets opened #502 "Add documentation for configuration options"
Hello @carloscuesta, thanks for this project :+1: :100:

Issue:
When using the configuration option `--config` the script asks “Enable scope prompt?”.

What is a »scope« in this context? What is the result when I activate this option?

**OS**: Ubuntu 20.04
**gitmoji -v**: 3.2.3
**Node version**: 10.19.0

Suggested solution:
- Update the configuration description in the [README](https://github.com/

[2020-12-04 16:47] pixelbrackets commented on #502
The README already contains a GIF with all kinds of commands – This could imho be split and reduced to a search example and a commit example. Please much slower play speed though ;)

[2020-12-04 16:48] carloscuesta commented on #502
Hey @pixelbrackets

Thanks for opening an issue. You're right the "scope" option is not really documented since we're assumming prior knowledge on the docs and the feature that's not great!

Feel free to send a PR! ❤️

[2020-12-04 17:08] carloscuesta commented on #502
The GIF is really outdated I will probably make a new one

[2020-12-05 16:30] #502 closed

[2020-12-07 21:14] Jeremie-Chauvel opened #506 "[Development] Cannot install fresh project"
Hello @carloscuesta!

while installing the project locally to work on an issue, I found stumbled upon the following issue during `yarn install`:

Issue:
- Clone fresh project
- `yarn install`
I tested with and without global gitmoji-cli installed

**OS**: linux
**gitmoji -v**: https://github.com/carloscuesta/gitmoji-cli/commit/394de23788a93b3e2bc09c4826244528f3ffb920
**Node version**: v14.15.1

**

[2020-12-07 21:16] carloscuesta commented on #506
Oh! That's related with a postInstall hook I made.

You can install the dependencies using the following command:

`yarn install --ignore-scripts`

I'll fix this on the meantime

Thanks for reporting it ☺️

[2020-12-07 21:24] Jeremie-Chauvel commented on #497
Hi looking into this,
for strategy, I will be using the second argument passed to the hook `prepare-commit-msg` to detect when `Ammending` or reusing the same commit message: https://git-scm.com/docs/githooks#_prepare_commit_msg.

[2020-12-07 22:54] Jeremie-Chauvel commented on #497
Hi @carloscuesta,

sadly yarn version is creating a commit using `git commit -m` and cancelling the commit message for this case would mean canceling th commit message whenever the message is already defined https://git-scm.com/docs/githooks#_prepare_commit_msg and would means discarding https://github.com/carloscuesta/gitmoji-cli/pull/446 which is pretty neat.

I'm submitting my code to abord the

[2020-12-07 23:02] Jeremie-Chauvel commented on #497
Another lead would be to look into `tty` detection but again would be a risky change

[2020-12-08 01:25] Matt-Gleich opened #508 "Don't check for the latest emojis every run"
Hello @carloscuesta!

Issue:

Every time I run `gitmoji commit` it takes a second or two to show the selection menu. I assume that this is because it gets the latest emojis on every run. What do you think of the following process instead?

![Screen Shot 2020-12-07 at 7 55 28 PM](https://user-images.githubusercontent.com/43759105/101425399-7c4dfd80-38c9-11eb-8841-7d6865945ea9.jpg)

An easier fix wo

[2020-12-08 07:17] carloscuesta commented on #508
Hey @Matt-Gleich

Not really. The gitmojis are fetched once and cached into your computer. To update them you need to use the update command

Thanks for opening the issue!

[2020-12-08 07:18] #508 closed

[2020-12-08 16:41] Matt-Gleich commented on #508
Thank you for the quick response! Do you think the slow startup time is because this is a node application? If so do you mind if I make this CLI in golang so it is faster?

[2020-12-08 16:54] carloscuesta commented on #508
I don't know why you can have the little delay on starting up the command. No one has complained about it. Instead of remaking the whole project to Golang you can try to investigate and provide more information to your use-case to see if we can improve it

[2020-12-09 08:20] #497 closed

[2020-12-09 08:27] #506 closed

[2020-12-09 16:33] MalteHei opened #509 "Can't commit after updating to 3.2.14"
Hello @carloscuesta!

After updating to the latest version, the git commit hook fails.

Reproduce:
[code]

Downgrading to 3.2.13 "solves" this.

**OS**: Arch Linux (WSL)
**gitmoji -v**: 3.2.14
**Node version**: 15.3.0

**Error Message**:
[code]

[2020-12-09 16:35] carloscuesta commented on #509
Hey @MalteHei thanks for opening an issue,

That's probably related with https://github.com/carloscuesta/gitmoji-cli/pull/507

[2020-12-09 16:42] carloscuesta commented on #509
Already released `3.2.15` with the revert, we are going to fix that later!

Thanks!

[2020-12-09 16:42] #509 closed

[2020-12-10 14:25] Jeremie-Chauvel commented on #509
Maybe git version ?

[2020-12-14 22:04] goodevilgenius opened #516 "Add an option that simply prints out the resulting commit, to support third-party tools"
Hello @carloscuesta!

Issue:
My job requires me to use subversion, and I'd really like to use gitmoji with svn. I normally use `git-svn`, but one of our repos has some weirdness that only works with the official subversion client.

I wanted to create a script that I could use that would call `gitmoji` to create the commit message, and pass it to `svn commit`. However, `gitmoji --hook` calls `git r

[2020-12-15 14:10] carloscuesta commented on #516
Hello @goodevilgenius

Thanks for opening an issue 😊

I think that the `--print` command won't be a really great addition to the cli, since the purpose of it would be to handle a really specific use-case.

I know this is not ideal but If you want to keep using `gitmoji` on the repo that is not compatible with `git-svn` what about using the `gitmoji --search` command to find the emoji that you're l

[2020-12-15 15:44] goodevilgenius commented on #516
Not really ideal at all. I was hoping to be able to use the already existing interactive commit message workflow.

But, at least to get the emoji, I can hack together something like:

[code]

That will give me an interactive search with fzf, and using awk to get just the emoji from the output.

I could possibly combine that with a previous input. Something like:

[code]

It's still really awkward,

[2020-12-15 16:06] carloscuesta commented on #516
I'm not quite sure that I'll be accepting a PR for that, because as I said I don't think it is a great addition to the functionality of the cli itself. I think it solves an edge case and outside of this edge case the `--print` command won't be used at all

[2020-12-19 09:19] carloscuesta commented on #468
Closing this as a duplicate of https://github.com/carloscuesta/gitmoji-cli/issues/59

Thanks for opening the issue @dekadentno

[2020-12-19 09:19] #468 closed

[2020-12-19 09:23] carloscuesta commented on #469
Hey @vhoyer!

If we can do it easily with Inquirer.js I wouldn't doubt on introducing this. However as I see, there's no option for that aside from arrow keys to navigate through Inquirer prompts, so I would not spend a lot on finding a solution for this, because with the autocomplete and the arrows we are mostly offering a great search experience IMHO!

T

[2020-12-19 15:27] vhoyer commented on #469
Oh, I see, I will try adding an issue to inquirer then haha, thank

[2020-12-19 15:27] #469 closed

[2020-12-19 15:31] vhoyer commented on #469
Actually, looking at their code, they allow `<Ctrl-n>` and `<Ctrl-p>` to go down and up, which is good enough for me (not great, but good enough haha)

[2020-12-21 05:10] KimYangOfCat opened #518 "failed, reason: read ECONNRESET"
Hello @carloscuesta!

Issue:

`gitmoji -c` not working because of `read ECONNRESET`.I don’t know if it’s my network problem

**OS**: macOS 11.1
**gitmoji -v**:V3.2.16
**Node version**:v15.4.0

**Error Message**:

[code]

[2020-12-21 08:52] carloscuesta commented on #518
Hello @KimYangOfCat

As you point this is a network problem, can you try to access the following URL with your browser?

`https://raw.githubusercontent.com/carloscuesta/gitmoji/master/src/data/gitmojis.json`

If you can't access to it, then it might be related to #49 #224

Thanks for opening the issue!

[2020-12-21 08:52] #518 closed

[2020-12-21 08:53] #516 closed

[2020-12-27 16:21] KimYangOfCat commented on #518
Hello @carloscuesta
I can access the URL with my browser.
`https://raw.githubusercontent.com/carloscuesta/gitmoji/master/src/data/gitmojis.json`
I have seen these issue，and I have tried some  solutions in   #49 #224, but it still   can't work. I realy want to know why?

[2020-12-27 16:23] carloscuesta commented on #518
That's strange, are you using any network proxy?

[2020-12-29 09:49] KimYangOfCat commented on #518
Yes,I'm in china ,so I need to use network proxy to access out network

[2021-01-05 10:28] lmeyer commented on #488
Hi @a2br,

Did you manage to make it work ?

Thank :)

[2021-01-05 11:06] a2br commented on #488
I actually stopped using Gitmoji until a couple days ago, when I downloaded Fira Code on WT. It seems to work now!

[2021-01-30 20:14] momsse opened #534 "Option to skip title and message prompt ?"
Hello @carloscuesta!

Thanks for the great job done with gitmoji and this cli ❤️

Is it possible to add support for an option that will skip `title` and `message` prompt when already filled by the hook (thanks to https://github.com/carloscuesta/gitmoji-cli/pull/446) ?

Issue:

Basically when I run the following command:

[code]

Would love to not have to double enter to skip the already filled `ti

[2021-02-02 08:32] carloscuesta commented on #534
Hey @momsse, thanks for opening an issue 😊

I totally understand your concern, whenever you're prefilling those two questions with the `title` and `message` it doesn't makes any sense to ask for them on the cli.

However, I think that then prompting the cli only for the gitmoji then it's a "waste" of time because you should already decide your gitmoji before your commit message, so I don't really

[2021-02-02 08:46] momsse commented on #534
Thanks for the reply,

If I always remember some emoji by heart (like `:bug:`, `:sparkles:`). Some of them are uncommon enough that before suing this cli I was wasting my team searching in https://gitmoji.dev the correct one to use and that's actually the value (for me) of that cli. Entering the correct keywords for having the correct gitmoji.

Another great feature (for me) would be to dismiss co

[2021-02-02 08:49] carloscuesta commented on #534
It makes sense! If we implement this feature then we should be removing the prefill one since the questions are going to be skipped right?

[2021-02-02 10:11] momsse commented on #534
Yes. But since it's opinionated it would be great to ask the user if he want to use the feature with `gitmoji --config` nope ?

[code]

[2021-02-03 08:11] carloscuesta commented on #534
Sounds good! Would you like to build a PR to implement the feature?

[2021-02-03 09:26] momsse commented on #534
I will give a try yes

[2021-02-27 10:26] jalenchuh opened #552 "Gitmoji request failed because of raw.githubusercontent.com blocked on some countries"
Hello @carloscuesta!

Issue:

Is it possible to put the `json` file locally?
`https://raw.githubusercontent.com/` was blocked in some areas, so request to `https://raw.githubusercontent.com/carloscuesta/gitmoji/master/src/data/gitmojis.json` usually failed.

**OS**: Windows10
**gitmoji -v**: 3.2.18
**Node version**: 15.10.0

[2021-02-27 15:40] carloscuesta commented on #552
Yes it's a common error for some users. I'm thinking in a solution that could solve that problem.

Can you access https://gitmoji.dev ?

If you can I might move the file and consume it from the website in order to avoid that on countries that raw github is blocked users can still use this without any problem.

Thanks!

[2021-02-27 20:53] #552 closed

[2021-02-27 20:56] #534 closed

[2021-02-27 21:08] carloscuesta commented on #552
This should be fixed at 3.3.0 ❤️

[2021-02-28 05:19] jalenchuh commented on #552
Thanks😉

[2021-02-28 06:27] jalenchuh commented on #552
I can not update gitmoji-cli to v3.3.0, the newest version I can install is v3.2.18.
And I have seen https://www.npmjs.com/package/gitmoji-cli, the version was still v3.2.18.

[2021-02-28 08:24] carloscuesta commented on #552
Published right now! You can install it 😊

[2021-02-28 12:08] jalenchuh commented on #552
Thanks! It's so great now. I love it😍

[2021-02-28 18:46] carloscuesta commented on #552
Thanks to you too! My mind came to this idea randomly while reading your issue ❤️

[2021-04-12 14:18] flo-sch opened #577 "Feature request: read core.hooksPath from git config during `gitmoji -i`"
Hello @carloscuesta!

Issue:

`gitmoji -i` currently creates a `prepare-commit-msg` file under the hardcoded `.git/hooks` path, which is the default path for git hooks.
However, this path can be configured `git config --set core.hooksPath path/to/hooks/folder` and this is what for instance [husky v6 started to do](https://github.com/typicode/husky/issues/943).

Would it be possible to create that

[2021-04-12 20:36] carloscuesta commented on #577
Yes! This is much better than assuming the local default hooks directory

Will try to take a look at this but if you want to help feel free!

[2021-04-12 21:54] flo-sch commented on #577
I can give it a quick try this week I think

[2021-04-18 09:54] #577 closed

[2021-04-18 09:54] carloscuesta commented on #577
Thanks for the help @flo-sch

[2021-04-22 01:38] thtliife opened #579 "Gitmoji update fails behind corporate proxy"
Hello @carloscuesta!

When trying to use `gitmoji --update` behind a corporate proxy, an ECONNREFUSED error is encountered.

Issue:

node-fetch fails to connect through a proxy in the fetch function call in `utils/getEmojis.js`
Steps to reproduce:
* on a computer behind a proxy, run `gitmoji --update`
* observe error

**OS**:
macOS Big Sur

**gitmoji -v**:
`3.4.0`

**Node version**:
* `14.16.1`
*

[2021-04-22 01:41] thtliife commented on #579
pr incoming with proxy support for node-fetch...

[2021-04-22 03:16] Monkeyman520 opened #581 "Garbled rendering"
Hello @carloscuesta!

gitmoji renders garbled characters in Windows power shell
Issue:

![image](https://user-images.githubusercontent.com/55369727/115650597-1df75800-a35c-11eb-8cf5-543ad90de67c.png)

**OS**:Windows 10 2004
**gitmoji -v**:3.4.0
**Node version**:10.21.0

**Error Message**:

[2021-04-23 09:26] WebKenth commented on #581
@Monkeyman520  this could be your font. It doesn't look like a monospace font with propper emoji support, Which font are you using? it looks neat ;)

This issue somewhat matches my issue from:
From https://github.com/carloscuesta/gitmoji
Hello @carloscuesta sunglasses! ( You asked my to move it ;) )

The list would look nice if every line had the same consistent markup, however some lines are miss

[2021-04-23 20:16] carloscuesta commented on #581
Hey @Monkeyman520 this seems an issue with the font that you're using on your Terminal, I don't have a Windows machine so sadly I won't be able to help much further on this issue :(

Could you open another issue on this repo @WebKenth since we could treat this as something independent from this question!

Thanks <3

[2021-04-23 20:16] #581 closed

[2021-04-25 05:54] rushilsrivastava commented on #577
@carloscuesta Was #578 bundled with v3.4.0? I looked through the package posted on NPM (see the hook file on [unpkg](https://unpkg.com/browse/gitmoji-cli@3.4.0/lib/commands/hook/hook.js)) and I don't think #578 has been merged in.

The release notes mention that this was intended as well.

[2021-04-25 06:04] rushilsrivastava commented on #577
The release published by Github actions seems to be working fine, I think the version published to NPM and Brew have a different version uploaded.

[2021-04-25 07:42] carloscuesta commented on #577
That's really weird 🤔 Going to republish now

[2021-04-25 07:58] carloscuesta commented on #577
Republished and fixed at 3.4.1 🎉

[2021-04-25 09:28] carloscuesta commented on #577
Turns out I forgot to execute the `build` script before publishing 😅. I automated this on a PR to never forgot it again

[2021-04-26 14:15] wijourdil opened #589 "Error after update to 3.4.1 : Command failed with exit code 1: git config --get core.hooksPath"
Hello @carloscuesta!

**Issue:**
I have just updated the gitmoji-cli from version 3.4.0 to 3.4.1, and now I have an error message when I do a commit with the command `gitmoji -c`.
The commit is well created, and I can push it to my repository, so I'm not blocked but the error appears each time I do a commit with gitmoji-cli.
I have updated the tool with the command: `npm i -g gitmoji-cli`

**OS**:

[2021-04-26 15:01] carloscuesta commented on #589
Hey @wijourdil thanks for opening an issue, this is related with #578 will try to take a look today!

Hey @flo-sch could you take a look at this too?

[2021-04-26 16:13] flo-sch commented on #589
Hi @wijourdil, just so I know, what output do you get when you directly call `git config --get core.hooksPath`?

The git version should not be a problem (btw @carloscuesta should we somehow handle that?) but it might be something else I missed from the git doc 🤔

[2021-04-26 16:48] wijourdil commented on #589
Hi !

When I execute this command I have no output, and the return value is `1`

<img width="405" alt="Screenshot 2021-04-26 à 18 47 53" src="https://user-images.githubusercontent.com/12596207/116120532-ea9c2c80-a6bf-11eb-9722-bef27cf0bf9d.png">

[2021-04-26 17:05] wijourdil commented on #589
I solved the issue by creating a folder `~/.git/hooks/` and then I have edited the configuration with the command
`git config --global --edit` and added this section :
[code]

I don't know if it's just a workaround or the "correct way" to fix it, but now I don't have the error anymore 🤷

[2021-04-26 17:27] flo-sch commented on #589
That looks more like a workaround: according to the docs of `git config --get`, it seems that the exit code of 1 is expected when the key is not found, but I can reproduce the warning from gitmoji in any way...
(Tried several versions of Node and different versioning scenarios)

(Setting the config like you did for sure will fix the problem for you)

@carloscuesta unless you see a better way, we m

[2021-04-26 18:23] carloscuesta commented on #589
🤔  That's weird, the `~/.git/hooks/` things is clearly a workaround and we shouldn't be using this as a solution

[According to this](https://github.com/git/git/blob/311531c9de557d25ac087c1637818bd2aad6eb3a/Documentation/RelNotes/2.9.0.txt#L127-L128) the `core.hooksPath` configuration was introduced at git `2.9` so it's not a git version problem

[2021-04-26 18:28] carloscuesta commented on #589
I had been able to reproduce the issue:

1. Create a new directory.
2. Initialise a git repository.
3. Add a dummy file
4. Commit using `gitmoji -c` option

[2021-04-26 18:35] carloscuesta commented on #589
Working on a fix!

[2021-04-26 19:10] #589 closed

[2021-04-26 19:14] flo-sch commented on #589
Nicely done :)

[2021-04-26 19:37] carloscuesta commented on #589
Thanks for the help @flo-sch and @wijourdil

[2021-04-27 07:40] wijourdil commented on #589
Great, thank you ! 👏 😄

[2021-04-30 08:09] JamesBissick opened #592 "Missing extra space and a dash"
Hello @carloscuesta!

Is it possible to customise each me gitmoji with an extra space and a dash?

Issue:
When I commit a message using the gitmoji cli, I realised on Github that the emoji was to close to the title, like if there was no space at all, hence the extra space. Also, there isn't a dash like showed in the selection and writing it manually could be easily skipped if it was automatic.

**

[2021-04-30 09:14] carloscuesta commented on #592
Hey @JamesBissick we already add a space, this is how your browser is rendering the emojis, I guess it's something from Google Chrome, Safari renders them with the proper space.

![Screenshot 2021-04-30 at 11 13 37](https://user-images.githubusercontent.com/7629661/116674588-2297be00-a9a5-11eb-80b1-5349af16515b.png)

If you take a look at the `git log` you'll see that the space is there

[2021-04-30 09:24] JamesBissick commented on #592
Ah yes, my bad. It's a known bug from Chrome on Non-retina displays for macOS users.
**[Source](https://bugs.chromium.org/p/chromium/issues/detail?id=1083965&q=emoji&can=2)**

[2021-04-30 14:17] carloscuesta commented on #592
Thanks for sharing the bug! ❤️

[2021-05-09 15:00] S-Mann commented on #579
@thtliife hey! When are you planning to merge this and in which version this will be available? It would be great to pass proxy settings as `params` if needed.

[2021-05-10 03:19] thtliife commented on #579
hi @S-Mann
I am not able to merge pr's in this repo... i am merely a contributor.
The delay on this one, however, was my fault.
I needed to address a couple of issues before merging would be allowed, and write some tests.

[2021-05-10 19:12] #579 closed

[2021-05-23 12:36] VGMSoft opened #606 "Failed to update to 4.1.0"
Hello @carloscuesta!

Issue:
When trying to update to gitmoji 4.1.0, the update fails. It seems it's a naming issue.

**OS**: BigSur
**gitmoji -v**: 4.0.0
**Node version**: 11.2.11

**Error Message**:
npm ERR! code ENOTEMPTY
npm ERR! syscall rename
npm ERR! path /usr/local/lib/node_modules/gitmoji-cli
npm ERR! dest /usr/local/lib/node_modules/.gitmoji-cli-i0trtzkW
npm ERR! errno -66
npm ERR! ENOTE

[2021-05-23 18:59] carloscuesta commented on #606
Hello!

Node version 11 is no longer supported, the minimum required version to use this package is Node v12

[2021-05-23 18:59] #606 closed

[2021-05-23 19:58] VGMSoft commented on #606
Hi Carlos,

I’m currently working with node 14.16.1.
11.2.11 is my Angular version....
Should I rename my file as said without problems...?

Virgile Guglielmi

[2021-05-24 07:40] carloscuesta commented on #606
Try to uninstall the cli and install it again

[2021-05-24 14:22] vhoyer opened #610 "As a user, when I `gitmoji -c` with changes not staged, I get frustrated when I get an error after typing my message knowing I will need to type it again"
Hello @carloscuesta!

As a user, when I `gitmoji -c` with changes not staged, I get frustrated when I get an error after typing my message knowing I will need to type it again.

Issue:

My main problem with this is that sometimes I forget to `git add` the changes before trying commiting, so I call `gitmoji -c` and happily type my commit message, and when I'm done typing, I get a non-user-friendly

[2021-06-08 21:17] girordo opened #619 "[Feature Request] Add cherry pick emoji and version on gitmoji -c"
Hello @carloscuesta!

I was looking for an a representative emoji for cherry picking so nothing better than the cherries 🍒
It would be nice if we have this option

If I'am doing something wrong please desconsider this

[2021-06-08 21:18] carloscuesta commented on #619
Hey @girordo

The emoji suggestions should be opened on the gitmoji repository!

Thanks ☺️

[2021-06-08 21:19] #619 closed

[2021-06-27 19:20] jeyraof opened #630 "Real emoji in git commit message"
Hello @carloscuesta!

**Question**:

Is there any reason for having choice to use not real emoji but replacable word-wrap?
for example, i want to use real emoji on git commit message:

[code]

But gitmoji cli generate it like:
[code]

**OS**: mac bigsur
**gitmoji -v**: 4.1.0
**Node version**: v16.4.0

[2021-06-27 19:49] carloscuesta commented on #630
Hey! @jeyraof

You can configure this behaviour using the `gitmoji -g` configuration option.

There's a prompt that will allow you to choose between the shortcode or the actual emoji.

The reason behind this was to be able to use the shortcode to favour the readability on certain terminals that do not support Emojis!

[2021-06-27 19:58] jeyraof commented on #630
@carloscuesta Wow. Thank you for your description about detail things!
I have set it!

[2021-06-27 19:58] #630 closed

[2021-07-06 10:37] webkong opened #635 "request to https://gitmoji.dev/api/gitmojis failed"
Hello @carloscuesta!

git commit error , can not get the gitmojis.json file.

Issue:

OS: macOS 11.4
gitmoji -v 4.1.0
Node: 14.15.5

**Error Message**:

Error: FetchError: request to https://gitmoji.dev/api/gitmojis failed, reason: connect ECONNREFUSED 76.76.21.21:443
TypeError: Cannot read property 'map' of undefined

[2021-07-07 02:50] #635 closed

[2021-07-09 14:34] spark0829 opened #637 "⭕ Interface request error"
Hello @carloscuesta!

Issue: Interface request error

**OS**: macOS BigSur 11.4
**gitmoji -v**: 4.1.0
**Node version**: 14.17.1

**Error Message**:
[code]

[2021-07-09 18:36] #637 closed

[2021-07-09 18:36] carloscuesta commented on #637
Hey this looks like a connection issue not an issue with the cli thanks!

[2021-07-14 12:39] heithemmoumni opened #641 "[Feature request]: Autocomplete command"
Hello @carloscuesta!

Do you want to add new feature autocomplete option in the CLI?

[2021-07-14 21:40] carloscuesta commented on #641
Hey @heithemmoumni what do you mean by autocomplete? Can you describe the feature?

Thanks,

[2021-07-23 02:59] Fatpandac commented on #518
gitmoji 需要单独设置 proxy 吗？还是直接使用系统设置

[2021-07-23 12:55] #641 closed

[2021-08-03 11:11] nilskuhn commented on #465
Setting ticket / issue numbers for a feature as git scope is quite common, I would say. So in my opinion, a possibility to set a default scope and not having to type / repeat it for each commit of the feature would increase usability a lot. Environment variables like proposed in https://github.com/carloscuesta/gitmoji-cli/pull/522 would work for me just as a cli flag or a config setting defaultSco

[2021-08-03 16:27] #465 closed

[2021-08-03 16:32] carloscuesta commented on #465
Available in `v4.3.0` 🚀

[2021-08-03 16:32] nilskuhn commented on #465
nice, thanks!

[2021-08-03 16:42] sirgalleto commented on #465
@carloscuesta Super awesome 👏

[2021-08-04 15:33] #97 closed

[2021-08-04 15:37] carloscuesta commented on #610
Hey @vhoyer!

I'm not sure if we should handle this on the cli, as it's more a git error than a cli one

[2021-08-04 16:07] vhoyer commented on #610
This is a git error, but this is also an poor UX from the CLI, because this same error doesn't happen when using git alone

[2021-08-04 16:17] chenrui333 opened #658 "gitmoji 4.4.0 test failure"
Issue:

**OS**: macOS
**gitmoji -v**: 4.4.0
**Node version**: 16.6.1

**Error Message**:

[code]

relates to https://github.com/Homebrew/homebrew-core/pull/82672

cc @carloscuesta!

[2021-08-04 17:40] carloscuesta commented on #658
Thanks for opening the issue! I can reproduce it when I have no cache, taking a look into it 😊

[2021-08-04 17:58] #658 closed

[2021-08-04 17:59] chenrui333 commented on #658
Nice, thanks for the quick turnaround.

[2021-08-04 18:06] carloscuesta commented on #658
Published 🎉

[2021-08-04 18:14] carloscuesta commented on #610
If you try to commit without previously add anything to the staged area then you'll get the same error 🤔

[2021-08-04 18:18] carloscuesta commented on #610
Uh but the error you get is worse and way more scary 😂 😱

<img width="955" alt="Screen Shot 2021-08-04 at 20 18 08" src="https://user-images.githubusercontent.com/7629661/128233596-5cdb7ecd-2add-49d6-98a1-29a5e76f3ada.png">

[2021-08-04 18:29] carloscuesta commented on #610
I think that a better approach would be to show and print the errors in a better way like this:

<img width="649" alt="Screen Shot 2021-08-04 at 20 27 38" src="https://user-images.githubusercontent.com/7629661/128234942-de89494c-6529-4d67-a60f-ff373969b19f.png">

Because otherwise we would need to potentially cover more errors and use cases and also is better for the user to see this kind of error

[2021-08-05 00:51] vhoyer commented on #610
Ok, fair, better error output would be also great, but the point that I'm trying to make here is that the bad experience I get from the gitmoji-cli comes from the fact that if an error occurs I will lose the message I just wrote, and this is the part that I don't like.

when I'm using stand alone git, I write my commits with `git commit -m"bla bla bla"` because of the chance of there being an erro

[2021-08-05 06:06] carloscuesta commented on #610
I see! In the release `4.3.0` we introduced some flags for prefilling your commits:

https://github.com/carloscuesta/gitmoji-cli#options

So if you use the command like this:

[code]

Then you will be able to go back and maintain the value in the prompt 😊

[2021-08-05 11:26] vhoyer commented on #610
Oh, I guess it's my fault for not reading the changelog... Thanks 😊

[2021-08-05 13:48] #610 closed

[2021-08-05 13:53] carloscuesta commented on #610
No worries! Published `4.5.0` with this improvement 👍🏼

[2021-08-20 19:49] jayakornk commented on #465
@carloscuesta Thanks a lot!!

[2021-08-24 07:18] Jeremie-Chauvel commented on #291
Hi @carloscuesta,
will look into this this week if you are still interested ?

[2021-08-24 07:36] carloscuesta commented on #291
Hey @Jeremie-Chauvel!

For sure feel free to work on this issue 😍

That would be really helpful, do you have an idea about the implementation you want to follow?

[2021-08-24 07:39] Jeremie-Chauvel commented on #291
Not sure, I will look into it and ping you to challenge the implementation if it's alright ?

[2021-08-24 07:41] carloscuesta commented on #291
Sounds good! No worries 🙌🏼

[2021-08-25 07:45] Jeremie-Chauvel commented on #291
From a quick look into it, execa support to disable the output buffer, to stream the process, tested in a quick POC,
adding thoses options seems to do the trick (redirecting the stdout stream to the current process, might need a more careful approach with stdin):
[code]
![image](https://user-images.githubusercontent.com/28385941/130748645-8f7d83b0-b4c6-4a70-a08f-0ae80853c412.png)

[2021-08-25 08:00] carloscuesta commented on #291
Looks nice!

What option of execa are you using to do that?

[2021-08-25 08:41] Jeremie-Chauvel commented on #291
basically:
[code]

[2021-08-29 08:11] #291 closed

[2021-09-02 16:33] UltiRequiem opened #672 "v4.6.0 Not Working"
Hello @carloscuesta!

Issue:

I just updated gitmoji, no command works.
Neither `-c` or` --commit`, or the others.

**OS**: Archlinux
**gitmoji -v**: v4.6.0
**Node version**: v16.8.0

**Error Message**:
[code]

![image](https://user-images.githubusercontent.com/71897736/131882123-18d5a5e9-4579-418f-8f4d-98f623db7216.png)

[2021-09-02 19:11] #672 closed

[2021-09-02 19:11] carloscuesta commented on #672
Thanks for the report should be fixed in v4.6.1

[2021-09-02 20:48] UltiRequiem commented on #672
Thanks!

[2021-09-10 08:03] ooga commented on #59
Minimal support https://github.com/carloscuesta/gitmoji-cli/pull/679

[2021-09-11 00:27] capsuleman opened #680 "Print failed git command"
Hello @carloscuesta!

Frequently, on my projects, commit fails (sometime I forget to add files, other times pre-commit hooks return error).
It would be nice to have the git commit command print to just copy / paste it the next times.

Issue:

**OS**:
**gitmoji -v**:
**Node version**:

**Error Message**:

[2021-09-11 00:30] capsuleman opened #682 "Adjust commit title length"
Hello @carloscuesta!

Real commit title length should be 50 chars. It should be really calculated according to current gitmoji's length.

Issue:

**OS**:
**gitmoji -v**:
**Node version**:

**Error Message**:

[2021-09-13 19:57] carloscuesta commented on #680
Why not using arrow up key instead? It should be faster than copy pasting right?

[2021-09-13 20:02] carloscuesta commented on #682
Hey! If I'm not mistaken, you're not taking into account the space that is being set between the emoji and the commit title, that's why the value was hardcoded to 48 😅

Also gitmoji.length is not a good way to handle this, because if the user picks the unicode format, the length will be more than 1 but in GitHub the :string: will translate into a single emoji, so I think we can stick with the old

[2021-09-13 20:02] #682 closed

[2021-09-13 22:11] capsuleman commented on #680
When I use `gitmoji -c`, I do not provide any other parameters and enter gitmoji and message in the cli. If I use arrow up key, I can not find again the parameters I filled previously.

[2021-09-14 10:18] Hccake opened #688 "How do I specify a proxy when updating the gitmojis list?"
Hello @carloscuesta!

How do I specify a proxy when updating the gitmojis list?

I saw the corresponding PR, but did not find the corresponding usage document.

[2021-09-14 11:31] carloscuesta commented on #688
Hey! It's explained in the [configuration command options](https://github.com/carloscuesta/gitmoji-cli#options-1):

[2021-09-14 11:31] #688 closed

[2021-09-16 21:08] eliutgon opened #689 "Allow filter by conventional commit type"
Hello @carloscuesta!

Allow filtering by type, e.g. **feat, refactor, fix**

[2021-09-16 21:12] carloscuesta commented on #689
Hey @eliutgon

Thank for opening an issue!

I think that gitmoji and conventional commits are different things so I would prefer to not build a filter like that for this specific reason 😊

The cli already has a filter to search for emojis, if you feel this is not useful at all you can try conventional commits or other conventions!

[2021-09-16 21:12] #689 closed

[2021-10-02 07:33] #680 closed

[2021-10-06 16:51] codingedgar opened #700 "Gitmoji -c with husky pre-commit"
Hello @carloscuesta!

Hi, first of all, amazing lib 💛

Issue:
When I commit and husky pre-commit hook fails it's easy to fix the issue and press arrow up and my single line commit message is there, but with `gitmoji -c` i have to do it all over again.

I know this is not a bug, but is there a harmonic way to integrate husky with `gitmoji -c`? (I haven't tried the gitmoji hook, because I have not o

[2021-10-07 17:39] carloscuesta commented on #700
Hey @codingedgar this is a great question 😊

I totally understand your concern, _sometimes I also experience this issue too_ 😂, we built two things into the cli to make this process of "retrying a commit" faster with two options:

1. [Pre-fill user-input via arguments](https://github.com/carloscuesta/gitmoji-cli#options)
2. Printing the failed command in the error output https://github.com/carlosc

[2021-10-11 18:43] codingedgar commented on #700
Sorry for not specifying,

1 and 2 mean retry manually.

In 1, the terminal waits for user confirmation to retry (by a keystroke `y/enter`), the user can use another terminal to run the `git add ...`, and after `y/enter` gitmoji executes the command with all previously set values.

And in 2, the terminal finishes with an error, saves the title/message in a file, and when the user types something l

[2021-10-31 10:09] carloscuesta commented on #700
Hello again!

This option is a great idea 😊

We should save the last full command into a temporary file and then re-execute it with the --retry flag.

[2021-11-21 03:47] codingedgar commented on #700
that sounds very nice, seems like a perfect candidate.

So the mechanism is saving the current full command with `conf`, and if you pass `gitmoji -r` or `gitmoji --retry` then execute the command saved?

If so, i could try to make a PR with the change if that's ok?

[2021-11-21 04:01] codingedgar opened #719 "Sort emojis list by usage"
Hello @carloscuesta!

What about showing the last 7 emojis used instead of the first 7 statically?

(could help implementing it)

[2021-11-21 04:12] codingedgar opened #720 "Choose gitmojis by number and shortcode"
Hello @carloscuesta!

So far choosing a gitmoji is done by arrows or search.

When doing arrows i cannot avoid thinking "it could be a number from 1 to 7 to pick one of the 7 emojis shown"

And with search I'm not 100% assertive I'm searching for the right keyword if i want to select the second emoji ⚡ and type `i` then ♿ is shown, then `im` and 🔍 is shown, is not after `imp` than ⚡ is the first s

[2021-11-21 04:40] codingedgar commented on #700
after a debate with "maybe using `gitmoji -c` is prone to learning the wrong thing" I went and ran `gitmoji --init` and used the hook, it has a much better DX, and thankfully `pre-commit` is run first, so I guess my answer was that all along.

I think the `--retry` mechanism is nice, but maybe promoting `--init` is better, I didn't try it because I didn't understand how it worked actually, it seem

[2021-11-21 08:49] carloscuesta commented on #700
I see! I think both options are useful but depending your use-case the hook approach might be a better choice.

I will try to update and reflect this on the docs 😊

[2021-11-21 09:23] carloscuesta commented on #719
Hey @codingedgar that's a great idea!

Sorting the emojis that appear on the list based on the usage preference ✨

Feel free to implement it!

[2021-11-21 09:24] #700 closed

[2021-11-21 09:30] carloscuesta commented on #720
Hey @codingedgar if we implement #719 adding a number here could be confusing as the order can potentially change based on the usage of the emojis.

Instead what I would prefer is a more intelligent search criteria so we can filter emojis easily!

[2021-11-21 16:06] codingedgar commented on #720
Sorry, I don't mean assign a number to an emoji, but to the options shown, so the first item is always 1, and the second is 2 and so on, to make selecting an emoji quicker.

Typing text then makes the search and a number selects an emoji from the list.

Tho #719 > #720 for sure.

[2021-11-27 10:32] carloscuesta commented on #720
Agree let's sort emojis for usage!

[2021-11-27 10:32] #720 closed

[2022-01-13 03:43] vhs-dev opened #749 "Gitmoji in git log"
Hello @carloscuesta!

https://github.com/carloscuesta/gitmoji/issues/597

Issue:

When I run `git log` I don't see emojis.

**OS**: Arch Linux
**gitmoji -v**: 4.7.0
**Node version**: 17.3.0

![gitmoji-cli-gitlog](https://user-images.githubusercontent.com/97140109/149263588-af031efd-c16a-4955-9da8-09700cd8da93.png)

I looked at https://github.com/zetaron/gitmoji-log and it hasn't been updated in 5

[2022-01-13 04:06] vhs-dev commented on #749
Ah, looks like this one is written in Rust: https://github.com/kegesch/gitmoji-cli

[2022-01-13 04:07] vhs-dev commented on #749
I'm going to close this as I don't think it's wise to use NPM for CLI tools and I will uninstall this CLI tool. Thank you!

[2022-01-13 04:07] #749 closed

[2022-01-13 04:55] vhs-dev opened #750 "Pin all dependencies"
Hello @carloscuesta!

Given this is a CLI tool which is commonly installed globally on a system it represents an attack vector against developer machines in the case an NPM dependency upgrade cannot be trusted. As a result, I'd recommend all dependencies in the package manifest are pinned and a bot added to this repo to automate security analysis of this software until there's a functional replace

[2022-01-13 05:06] vhs-dev commented on #750
Never mind. I just saw that even if you do that the dependencies dependencies remain unpinned. Not sure if there's a way around that but it seems very high-risk considering just about any of those deps could be alterered anywhere in the tree to, let's say, scan your dotfiles and send the contents of them to a remote machine. I'll leave it up to you to decide what you want to do. I did see a Rust v

[2022-01-14 19:37] carloscuesta commented on #750
Hey @vhscom thanks for opening this issue 😊

Actually you raised a valid point, even though the transitive dependencies remain unpinned we can pin the ones that we use to add an "extra layer" of security. There's nothing we can do about the dependencies of our dependencies but it's better at least!

We have dependabot enabled with the security updates enabled as well, you can take a look at the PR

[2022-01-14 19:38] carloscuesta commented on #749
Hey @vhscom

That's because you're using the `:shortcode:` format there's a configuration option to switch to actual unicode emojis instead of that string:

https://github.com/carloscuesta/gitmoji-cli#options-1

[2022-02-14 10:48] Nixxen commented on #150
I support this suggestion, but for making it more intuitive, keep asking for a message until a blank string is submitted.
That way you have an "infinite" number of extra message lines, but if you want none, you just press enter to submit a blank line.

[2022-02-24 08:25] jdvala opened #774 "Use pull_request_templates"
Hello @carloscuesta!

Pretty nice cli tbh, use it daily.

Issue:
No issue just a suggestion, can we use pull_request_template for the first pull request?

**OS**: OS agnostic
**gitmoji -v**: The new version may be
**Node version**: Does it matter?

**Error Message**:
No error message

[2022-02-24 17:17] carloscuesta commented on #774
Hey I'm not sure if I follow you,

What do you mean by using the pull request template for the first commit?

Can you add an example

[2022-03-02 08:19] jdvala commented on #774
Sure, sorry to be replying late.

During the first commit on a fresh branch, when user is prompted to enter the commit title, user should also be prompted to add the description for the PR and that description should be adhering or following the pull request template if one is found in the git repo.

I hope this makes it clear.

Another suggestion I have is to use caching and autofill in the commi

[2022-03-05 17:36] carloscuesta commented on #774
Thanks for the clarification! Now I understand you;

From my point of view, this is a bit out of the scope for the `cli`, as the intention is to cover the process of making commits, but not actually open PRs, you have a very nice cli maintained by github that will help you with that https://cli.github.com/

This was already was suggested and what we built is the ability to pre-fill the answers for

[2022-03-05 17:36] #774 closed

[2022-03-11 07:42] stalinkay opened #780 "Predefined list of scopes"
Hello @carloscuesta!

There's currently no way to include a list of preset scopes that a team member can select so they use predetermined scopes. A great example of this is [commitizen](https://github.com/commitizen/cz-cli).

[2022-03-11 08:19] stalinkay opened #781 "Retry after test fail"
Hello @carloscuesta!

I write tests for my projects like a lot of other people do. Often times tests fail. Please add an option to retry failed commits after edits.

[code]

[2022-03-11 18:41] carloscuesta commented on #781
Hey @stalinkay

Thanks for opening an issue, I think this feature is out of the scope for the cli. The main idea of it is to use emojis on commit messages!

[2022-03-11 18:41] #781 closed

[2022-03-11 19:04] stalinkay commented on #781
@carloscuesta Thanks for your quick feedback. I'll do further research on the issue to see if I can manage to working around it from outside Gitmoji.

[2022-03-12 03:25] teffy opened #782 "auto merge triggered by git pull will execute hook"
Hello @carloscuesta!

![1status](https://user-images.githubusercontent.com/4166470/158001526-6d046955-44df-4cc6-858e-d92b57ffd1c1.png)

auto-merge triggered by git pull will execute hook.

I don't think this should happen， It triggers the hook process.

Issue:
So I add logs for 'findGitmojiCommand' function
![image](https://user-images.githubusercontent.com/4166470/158001509-d682297d-f30f-4027-9fb

[2022-03-12 09:24] #782 closed

[2022-03-15 18:21] carloscuesta commented on #780
Hey! Thanks for opening an issue, what do you mean by scopes?

Commitizen has a selectable option for the `type` of the commit that in gitmoji would be the emoji, the scope can't be predefined as it can be anything related with the use-case of your commit/application

[2022-03-17 20:20] carloscuesta commented on #780
Yes of course we can add everything under the `config` option.

The problem is that if we need to support all the options that the `git` command has in their API it's going to be crazy and very complex to maintain.

Ideally we should find a solution where we act like a proxy, receiving arguments and forwarding them to the git client, to avoid manually having to pass them

[2022-03-17 20:27] carloscuesta commented on #780
Hey!

Thanks for the clarification! Now I understand the feature 😊

I think it can be a great addition to the cli

Would you like to work on a PR for this?

[2022-03-21 13:52] mikesprague opened #801 "Incorrect dependency versions specified are causing warnings"
Hello @carloscuesta!

Issue:

When upgrading my global install to the latest version (`npm i -g gitmoji-cli`) I received some dependency and peer dependency warnings about the versions requested. This has happened everywhere I use it so far (MacOS, Ubuntu via WSL2, and inside of GitHub Codespaces).

**OS**:  MacOS (and Ubuntu via WSL2)
**gitmoji -v**: `4.10.0`
**Node version**: `v17.7.2` (and `v16

[2022-03-21 17:09] carloscuesta commented on #801
Hey @mikesprague thanks for opening the issue,

You can ignore the warning, the `cli` should work in the same way as of now, I opened a PR to update the dependency so the warning doesn't appears anymore when installing the cli.

Will publish an update soon 😊

[2022-03-21 17:23] carloscuesta commented on #801
Fixed and published in `4.11.0` 🙏🏼
<img width="1056" alt="Screen Shot 2022-03-21 at 18 22 41" src="https://user-images.githubusercontent.com/7629661/159329218-20c4bd71-dd39-497e-bfc8-4ce7b3aa279c.png">

[2022-03-21 17:25] #801 closed

[2022-03-24 20:02] stalinkay commented on #780
@carloscuesta You are most welcome.

I'm not currently able due to time constraints. Hopefully, someone will hop on.

[2022-04-04 11:53] bbodensieck opened #812 "node-fetch is vulnerable to Exposure of Sensitive Information to an Unauthorized Actor"
https://github.com/advisories/GHSA-r683-j2x4-v87g

Please update node-fetch to >=2.6.7
https://github.com/carloscuesta/gitmoji-cli/blob/e3fb4800d7d01a55367f8763b6aeef41ad134fd9/package.json#L53

[2022-04-04 19:05] #812 closed

[2022-05-05 15:42] CypherPoet commented on #80
I seem to be experiencing this same issue as of `5.0.0`. Reading through the linked issues, it looks like this was intended to be resolved (?) -- but perhaps I'm misinterpreting that.

[2022-05-07 17:31] OpenWaygate opened #831 "Windows display problem in hook mode"
Hello @carloscuesta!

Issue:

The updated status is append instead of replace in place after my operations(Use arrow keys or type to search).

This happens in cmd, powershell and git-bash, in windows terminal or classic console host. But not in client mode.

[code]

**OS**: Windows 11 22H2
**gitmoji -v**: 5.0.0
**Node version**: 16.14.0

**Error Message**:

[2022-05-08 18:06] carloscuesta commented on #831
Hey!

This is a duplicate of https://github.com/carloscuesta/gitmoji-cli/issues/93

[2022-05-08 18:06] #831 closed

[2022-07-09 00:42] CookieGamer733 opened #873 "Error when typing, typing doesnt replace/move anything"
Hello @carloscuesta!

Issue:

Anytime I type when gitmoji is active, it doesn't replace anything, it rewrites the whole thing (see screenshot, idk how to describe it)

**OS**: Windows 11
**gitmoji -v**: 5.0.2
**Node version**: v16.15.1

![image](https://user-images.githubusercontent.com/74946768/178085078-80725cd3-ff4d-4586-83b2-559aa8da7358.png)

[2022-07-20 13:07] dragid10 opened #878 "Using backtick (`) in commit message isn't valid"
Hello @carloscuesta!

Issue:
When attempting to use a backtick character (`) like how I would in markdown, gitmoji does not think it is a valid commit

**OS**: MacOS 12,4 (monterey)
**gitmoji -v**: 5.0.2
**Node version**: v18.6.0 (Though I did install via homebrew)

**Error Message**: `>> Enter a valid commit message`

<img width="626" alt="image" src="https://user-images.githubusercontent.com/404

[2022-07-21 07:27] CalinZBaenen commented on #80
I'm now having the same issue on Arch Linux.

[2022-07-22 15:38] carloscuesta commented on #878
Hey! @dragid10

Backticks were removed in https://github.com/carloscuesta/gitmoji-cli/issues/52 as it was possible to inject code between them, I'm wondering if we can reconsider this so we can properly escape the commands instead of "banning" the character

[2022-07-22 15:48] dragid10 commented on #878
Oh wow that actually makes perfect sense, I had no idea of the context. It'd definitely be nice to find some workaround in the future

[2022-07-25 14:14] dragid10 commented on #878
I'm more than happy to take a stab at it

[2022-08-10 20:31] ccoVeille opened #893 "gitmoji vs xdg folders"
Hello @carloscuesta!

I would like gitmoji to respect xdg specifications
https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html

And so store the cache file in `~/home/.cache/gitmoji/` folder.

[2022-08-10 20:44] carloscuesta commented on #893
Hey!

I have no plans on implementing this, I’m quite happy with how `conf` handles storing the configuration of the cli.

If you’re not happy with it you can always fork the project and implement it!

In case you have more feature suggestions, please use the provided issue template, thanks 😊

[2022-08-10 20:44] #893 closed

[2022-08-10 21:02] ccoVeille commented on #893
I'm not sure why the template didn't apply.

[2022-08-20 10:37] #59 closed

[2022-08-20 10:40] carloscuesta commented on #59
👋🏼 Hello everyone

I implemented this in #901, from `gitmoji-cli@6.0.0` you'll be able to specify the configuration parameters through the `package.json`, a `.gitmojirc.json` file or the cli options:

Read more about this in the docs: https://github.com/carloscuesta/gitmoji-cli#config

[2022-08-21 10:28] carloscuesta commented on #878
Hey! I tried to reproduce the injection of `commands` using backticks in git and looks like I'm not able to reproduce it anymore.

I will remove the guard so `backticks` can be used as part of the message and title again 🙏🏼

[2022-08-21 10:28] #878 closed

[2022-09-01 10:41] EntePF opened #908 "Config schema violation: `gitmojisUrl` must match format "url""
### Describe the bug

Hi @carloscuesta,

today I updated my gitmoji cask and after that it threw the following error when trying to `git commit`:
[code]

Also `gitmoji -g` threw this error. I switched to the npm package to install an older version and fix my configuration. But this error showed up in all versions down to 5.0.0 and all the default settings after a clean installation.

## Workaround

[2022-09-01 16:42] carloscuesta commented on #908
Hey! Thanks for opening the issue.

I tried reproducing installing a fresh copy of gitmoji, wiping out the stored configuration and the issue doesn't happen.

<img width="1172" alt="Screenshot 2022-09-01 at 18 41 24" src="https://user-images.githubusercontent.com/7629661/187967742-c4b7ee04-8135-4175-8313-4cc2326a4ddc.png">

We have configuration defaults defined for every option in the CLI when no

[2022-09-03 08:28] #908 closed

[2022-09-05 12:06] EntePF commented on #908
I am also not able to reproduce it anymore. Maybe some bad value (undefined/null/empty) had made its way into my config previously.
But your idea to validate the input, so there should never be an invalid url, is great.
Thanks for your awesome work.

[2022-09-06 13:20] Freed-Wu opened #912 "Add shell completions for bash/zsh/fish/posh/etc"
### Description of the problem

[code]

### Solution

I guess in javascript there exists a library to generate shell completions automatically like

- <https://docs.iterative.ai/shtab/use/#library-usage>
- <https://click.palletsprojects.com/en/8.1.x/shell-completion/>
- <https://docs.rs/clap_complete/latest/clap_complete/>
- <https://jmtirado.net/shell-completion-with-cobra-and-go/>

### Alternati

[2022-09-08 18:13] carloscuesta commented on #912
Hey!

Thanks for opening the issue, indeed this would be a great improvement to the cli

Would you like to raise a Pull Request?

[2022-09-19 16:46] vhoyer opened #919 "Search for config in `.gitmojirc.json` even if `package.json` file exists"
### Describe the bug

When we have a `package.json` file, the `.gitmojirc.json` file is ignored.

The behavior I'd expect for this, would be.

- do we have a `package.json` file?
    - **YES**: do we have a `gitmoji` property in the `package.json` file?
        - **YES**: then use the `require(package.json).gitmoji` as config
        - **NO**: goto _[gitmojirc]_
    - **NO**: _[gitmojirc]_ do we h

[2022-09-24 14:22] KirianCaumes opened #921 "Option `autoAdd` is not working"
### Describe the bug

The option `autoAdd` from the [documentation](https://github.com/carloscuesta/gitmoji-cli#config) doesn't seems to work when set to `true`: it doesn't run `git add .` and so, new files are not staged.

I tried to put the configuration in the `package.json` or `.gitmojirc.json`, without success.

Maybe I did configure something wrong, but I have no idea what, if that's the cas

[2022-09-24 14:36] carloscuesta commented on #921
Hey!

The `autoAdd` feature only works when comitting through the cli not through the hook

Thanks for opening the issue 😊

[2022-09-24 14:36] #921 closed

[2022-09-24 14:38] carloscuesta commented on #919
Hey!

Thanks for opening the issue I think it definitely makes more sense to fallback into different configuration systems and ultimately use the local & defaults as a fallback

Will try to take a look at this 👀

[2022-09-24 19:59] KirianCaumes commented on #921
Alright,

Thanks for lightning fast answer!

Why it's only available with the CLI? Do you think it might not be useful with the hook?

I don't know if there's an easy way to implement this.

[2022-09-24 20:25] carloscuesta commented on #921
Sure! You can take a look at this for more context:

https://github.com/carloscuesta/gitmoji-cli/issues/168#issuecomment-481866843

[2022-09-26 15:37] #919 closed

[2022-09-26 15:42] carloscuesta commented on #919
Hey @vhoyer this should be fixed in 6.3.0, let me know if you spot any issues 🙏

[2022-09-30 06:06] aaditmshah opened #929 "Old code published in version 7.0.0"
### Discussion

Hey @carloscuesta, I upgraded to the latest version of gitmoji-cli, i.e. v7.0.0 on npm, but I noticed that doesn't contain the fixes we made in #926. Upon inspecting the contents of the package in the node_modules folder, I found that it still contains the old code. It seems that the old code was published by mistake. We should bump up the version to 7.0.1 and publish the new code

[2022-09-30 07:07] #929 closed

[2022-10-01 09:21] carloscuesta commented on #719
Hey!

I'll close this issue as hasn't received any more updates since a year ago! 😊

[2022-10-01 09:21] #719 closed

[2022-10-19 14:09] KirianCaumes opened #946 "Emoji 🎨 is automatically added with `npm version x.x.x`"
### Describe the bug

When I run the `npm version x.x.x` command while using the gitmoji hook, a "🎨" is automatically added to my commit message.

Is it a default fallback emoji? Is there a way to to not add it with the `npm version x.x.x` command?

Maybe, some kind of exception can be done to to disable gitmoji hook on this command?

### Reproduction

[code]

### System Info

[code]

### Validati

[2022-10-20 09:23] amitai-devops opened #947 "Automatic title based on emoji description"
### Description of the problem

I would like the ability to automatically populate the commit title field during an interactive commit so that I would have the ability to commit faster without typing the title as well, only having to select an emoji.

### Solution

In the configuration, have an option to auto-populate/manual-prompt the title field, and wrap this in the code to either disable/enabl

[2022-10-22 18:19] carloscuesta commented on #946
Hey!

I'm not able to reproduce the behaviour described 😓 in macOS

The 🎨 emoji is actually the first one on the list. I was checking npm docs and found `version` ships an [option to ignore the hooks](https://docs.npmjs.com/cli/v8/commands/npm-version#commit-hooks):

[code]

That should do the trick 👍🏼

[2022-10-22 18:28] aldairandre opened #948 "Should Be Refactored Command gitmoji -c"
### Discussion

Hey guys, I'm sure everyone here loves Gitmoji, who doesn't!
Let's get to the actual discussion, first sorry for my bad english.
But don't you think the gitmoji -c command should be refactored?
Why am I saying this....
[Little history]
Today I was working on a small project and editing 3 different files, at some point in my work I decided to send only one file with "gitmoji -c", to

[2022-10-22 18:34] carloscuesta commented on #948
Hey!

You can disable this behaviour by using the configuration command:

👉🏼 https://github.com/carloscuesta/gitmoji-cli#config

Read more about it in the docs 📝

[2022-10-22 19:03] #948 closed

[2022-10-24 07:29] KirianCaumes commented on #946
Hey, thanks for your answer!

It doesn't seems to sove my problem, maybe it's more deep than I tought (or I'm not awake enough yet 😴).

Here is more context:

I have a git project with two folders/projects inside: `back` and `front`. Both containing `package.json` plus another at the root folder. I'm also using of course the `gitmoji-cli` hook.

I have create a custom command to run the `npm versi

[2022-10-24 21:54] carloscuesta commented on #946
Hey! Can you try:

[code]

The flag should prevent the hook from running 🤔

[2022-10-25 20:26] KirianCaumes commented on #946
Hi again!

It doesn't seems to be working either 😕

I have created a [respository](https://github.com/KirianCaumes/gitmoji-npmversion-bug) to test the issue. It come with a devcontainer, so we can be sure that the environment is the same. There's also instructions about the "npm version" command that I use.

Let me know if I can provide more elements or test other ideas!

[2022-10-26 18:48] carloscuesta commented on #947
Hey!

I don't think the emoji descriptions that we have are a great candidate for a commit title. It's very important to write a nice commit message as well!

I'll close the issue!

Thanks,

[2022-10-26 18:48] #947 closed

[2022-11-02 16:10] jpolo opened #959 "Gitmoji ecosystem (commitlint)"
### Discussion

Hi,

I am contacting you because I use to rely on  https://github.com/arvinxx/gitmoji-commit-workflow . But the repository does seems dead and has several bugs... To me, it induce a problem of ownership/governance that I will detail below.

## Situation
I am not using gitmoji-cli because I prefer VSCode extension, but I wanted to add some validation to ensure git message quality. t

[2022-11-03 18:43] carloscuesta commented on #959
Hey!

I think that's the beauty of Open Source! We never had an "original gitmoji" team as you say, the reality is that everyone dedicates free time to Open Source and we never built any governance around the project, aside from me which I'm maintaining `gitmoji` and `gitmoji-cli` the community built different projects based on their needs which is awesome ❤️!

Having governance also implies more

[2022-11-03 18:43] #959 closed

[2022-11-04 15:48] jpolo commented on #959
I have already contacted the maintainer of the repository, but there are no answer and there is already a pile of opened issues... I even proposed to submit a PR, that would correct the issues. That is why I proposed this change of governance.

I can totally understand the reasons why you cannot fork the repository at the moment and I thank you for taking the time to provide an answer.

In the fut

[2022-11-04 15:56] carloscuesta commented on #959
Thanks! I will take you in consideration! 😊

[2022-11-16 15:44] hacker-DOM opened #968 "Feature Request: Support for Sapling"
### Description of the problem

So I'm playing around with [Sapling](https://sapling-scm.com/) and it looks fantastic; the only thing I'm missing is gitmoji haha

It would be great if Sapling support was added to gitmoji for commiting.

### Solution

It should't be _that_ difficult, just `sl commit -m MSG` instead of `git commit -m MSG` 🙂

### Alternatives

_No response_

### Additional context

_

[2022-11-16 17:57] carloscuesta commented on #968
Hey!

Thanks for opening the issue, currently I don't see integrating other SCM into the `cli` 😊

I think you're underestimating a bit the complexity here since we do not only rely on `commit` there are more use cases built-in.

You can always fork the repository and maintain your own version that supports sapling! 🙏🏼

Have a great day 👋🏼

[2022-11-16 17:57] #968 closed